mixin sOtherDirection(data)
	// start sOtherDirection
	+b.SECTION.sOtherDirection.section#sOtherDirection&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="400")
				h5 Другие направления
			+defSlider(arrow)
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-1.jpg', 'Отдел маркетинга')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-2.jpg', 'Торговый отдел')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-3.jpg', 'Архитектурно-проектный отдел')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-4.jpg', 'Отдел снабжения')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-5.jpg', 'Производство дачных построек и конструкций')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-6.jpg', 'Склад')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-7.jpg', 'Отдел логистики')
				+e.slide.swiper-slide
					+sDirectionCard('sDirectionCard-img-8.jpg', 'Монтажный участок')
	// end sOtherDirection