mixin sAlsoWatch(arrow=true)
	// start sAlsoWatch
	+b.SECTION.sAlsoWatch.section#sAlsoWatch&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="400")
				h6 Вы смотрели
			+defSlider(arrow)
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-1.png')
						p Составная круговая скамейка "Диско 1/4 с подлокотниками"
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-2.png')
						p Печь-мангал ММ-140 (5мм) с крышкой-гриль и решеткой
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-3.png')
						p Стремянка двусторонняя 5 ступеней СИБРТЕХ 97935
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-4.png')
						p Тачка садовая двухколёсная усиленная 320 кг 90 л
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-1.png')
						p Составная круговая скамейка "Диско 1/4 с подлокотниками"
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-2.png')
						p Печь-мангал ММ-140 (5мм) с крышкой-гриль и решеткой
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-3.png')
						p Стремянка двусторонняя 5 ступеней СИБРТЕХ 97935
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-4.png')
						p Тачка садовая двухколёсная усиленная 320 кг 90 л
	// end sAlsoWatch

mixin sAlsoWatch29(arrow=true)
	// start sAlsoWatch
	+b.SECTION.sAlsoWatch--recipe.section#sAlsoWatch&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="400")
				h6 Вы смотрели
			+defSlider(arrow)
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-6.jpg')
						p Маринованные перцы и огурцы для пикника
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-7.jpg')
						p Малиновый коктейль с шампанским
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-8.jpg')
						p Гренки из батона с молоком на сковороде
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-6.jpg')
						p Маринованные перцы и огурцы для пикника
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-7.jpg')
						p Малиновый коктейль с шампанским
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-8.jpg')
						p Гренки из батона с молоком на сковороде
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/recipe-img-9.jpg')
						p Коктейль-желе

mixin sAlsoWatchSearch(arrow=true)
	// start sAlsoWatch
	+b.SECTION.sAlsoWatch--recipe.section#sAlsoWatch&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="400")
				h6 Вы смотрели
			+defSlider(arrow)
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-1.png')
						p Составная круговая скамейка "Диско 1/4 с подлокотниками"
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-2.png')
						p Печь-мангал ММ-140 (5мм) с крышкой-гриль и решеткой
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-3.png')
						p Стремянка двусторонняя 5 ступеней СИБРТЕХ 97935
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-4.png')
						p Тачка садовая двухколёсная усиленная 320 кг 90 л
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-1.png')
						p Составная круговая скамейка "Диско 1/4 с подлокотниками"
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-2.png')
						p Печь-мангал ММ-140 (5мм) с крышкой-гриль и решеткой
				+e.slide.swiper-slide
					+b.seen-card(href='#')
						+e.img-wrap
							.img-wrap-center
								+img('img/sAlsoWatch-img-3.png')
						p Стремянка двусторонняя 5 ступеней СИБРТЕХ 97935

	// end sAlsoWatch