mixin sOnOpenFire(data)
	// start sOnOpenFire
	+b.SECTION.sOnOpenFire.section#sOnOpenFire&attributes(attributes)
		.container
			div(data-aos="fade-up" data-aos-duration="400")
				+e.recipe.bg-wrap(href='#')
					h5 Рецепты блюд на открытом огне
					p Коллекция горячих блюд для истинных ценителей дачной жизни
					picture
						source(media="(min-width: 768px)", srcset="img/recipe-bg-1.png")
						img(src='img/recipe-bg-1-sm.png')
			+e.wrap(data-aos="fade-up" data-aos-duration="400")
				h4 Приготовление пищи на открытом огне
				+e.swiper-wrap
					+e.swiper--js.swiper
						.swiper-wrapper
							mixin slide(img, text)
								+e.slide.swiper-slide
									+e.item(href='#')
										+e.item-wrap
											+e.img-wrap
												.img-wrap-center
													+img(`img/${img}`)
											span!=text
							+slide('sOnOpenFire-img-1.png', 'Барбекю')
							+slide('sOnOpenFire-img-2.png', 'Мангалы')
							+slide('sOnOpenFire-img-3.png', 'Грили')
							+slide('sOnOpenFire-img-4.png', 'Тандыры')
							+slide('sOnOpenFire-img-1.png', 'Барбекю')
							+slide('sOnOpenFire-img-2.png', 'Мангалы')
							+slide('sOnOpenFire-img-3.png', 'Грили')
							+slide('sOnOpenFire-img-4.png', 'Тандыры')
					.d-none.d-md-block
						+arrow
	// end sOnOpenFire