
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				+e.title.form-data.h5.text-center Обратный звонок
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				+input('Оставьте свой комментарий', 'textarea', 'Комментарий')
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )   Оформить заказ
				+policy()
	div(id="modal-call-2"  style="display: none" )
		+b.modal-win
			+form-wrap
				+e.title.form-data.h5.text-center Оставить заявку
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				+input('Оставьте свой комментарий', 'textarea', 'Комментарий')
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )   Оформить заказ
				+policy()
	div(id="modal-call-3"  style="display: none" )
		+b.modal-win--resume
			+form-wrap
				+e.title.form-data.h5.text-center Оставить заявку
				+e.info
					+img('img/modal-img-1.jpg')
					div
						.title Парковые качели «Пагода_2»
						+e.equipment Комплектация: несущий каркас
						+e.price 102 990 ₽
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				+input('Оставьте свой комментарий', 'textarea', 'Комментарий')
				.form-wrap__input-wrap.form-group
					label
						.form-wrap__input-title Загрузка файла
						input(type="file" class="resume-filepod")
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Оформить заказ
				+policy()
	// #modal-call
	div(id="modal-question"  style="display: none" )
		+b.modal-win
			+form-wrap
				+e.title.form-data.h5.text-center Задать вопрос
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				+input('Оставьте свой комментарий', 'textarea', 'Комментарий')
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )   Оформить заказ
				+policy()
	div(id="modal-help-us"  style="display: none" )
		+b.modal-win--help-us
			+form-wrap
				+e.title.form-data.h5.text-center Помогите нам стать лучше
				+e.rate-row.row
					.col-6
						+in-c('radio', '', 'rate').custom-input__input--like
							+iconC('like')
							span Сказать спасибо
					.col-6
						+in-c('radio', '', 'rate').custom-input__input--dislike
							+iconC('dislike')
							span Пожаловаться
				+input('Оставьте комментарий', 'textarea', 'Комментарий')
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )   Оформить заказ
				+policy()
	div(id="modal-enter"  style="display: none" )
		+b.modal-win--enter
			+form-wrap
				+e.title.form-data.h5.text-center Вход или регистрация
				.tabs
					.tabs__caption
						.tabs__btn.active По телефону
						.tabs__btn По почте
					.tabs__content.active
						+input('+7 (      )     -     -', 'tel', 'Телефон')(required)
						+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Далее
						+policy()
					.tabs__content
						+input('Введите свой e-mail', 'email', 'E-mail')
						+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Далее
						+policy()
	div(id="modal-code"  style="display: none" )
		+b.modal-win--code.text-center
			+e.title.form-data.h5 Вход
			p На номер <span>+7 904 786-98-67</span> выслан код. 
			a(href='#') Изменить номер
			p  Выслать код повторно через <span class="countdown">0:32</span>
			+form-wrap
				.form-caption Введите код для подтвержения
				.form-row
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
	div(id="modal-invalid-code"  style="display: none" )
		+b.modal-win--code.text-center
			+e.title.form-data.h5 Вход
			p На номер <span>+7 904 786-98-67</span> выслан код. 
			a(href='#') Изменить номер
			a(href='#') Выслать код повторно
			+form-wrap
				.form-caption Введите код для подтвержения
				.form-row
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
					+input('', 'text', '')(maxlength="1")
				.invalid-feedback Неверный код
	div(id="modal-invalid-email"  style="display: none" )
		+b.modal-win--enter
			+form-wrap
				+e.title.form-data.h5.text-center Вход или регистрация
				.tabs
					.tabs__caption
						.tabs__btn По телефону
						.tabs__btn.active По почте
					.tabs__content
						+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
						+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Далее
						+policy()
					.tabs__content.active
						+input('Введите свой e-mail', 'email', 'E-mail')(class="is-invalid")
						.invalid-feedback Пользователь с таким адресом не найден
						+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Далее
						+policy()
	div(id="modal-feedback"  style="display: none" )
		+b.modal-win--feedback
			+form-wrap
				+e.title.form-data.h5.text-center Ваш отзыв
				+e.caption Оценка товара
				+empty-stars
				+e.form-title Укажите оценку.
				//- +input('Оставьте свой отзыв', 'textarea', 'Отзыв')
				//- (class="is-invalid")
				label
					+e.SPAN.input-title Отзыв
					+e.TEXTAREA.input.form-control(placeholder='Оставьте свой отзыв' class="is-invalid")
					.invalid-feedback Поле обязательно для заполнения. Напишите отзыв.
				+e.btn.btn.btn-primary(type="submit"  ) Оставить отзыв
				+e.attention Отзыв будет опубликован после модерации.
	div(id="modal-resume"  style="display: none" )
		+b.modal-win--resume
			+form-wrap
				+e.title.form-data.h5.text-center Отправить резюме
				+input("Введите свое имя", 'text', 'Имя*')(required)
				+input("Введите свою фамилию", 'text', 'Фамилия*')(required)
				+input("дд.мм.гггг", 'date', 'Дата рождения')(required)
				+input("",'select', 'Желаемая должность')(class="resume-select-js")
				+input('+7 (      )     -     -', 'tel', 'Телефон*')(required)
				+input('Введите свой e-mail', 'email', 'E-mail')
				input(type="file" class="resume-filepod")
				+e.BUTTON.btn.btn.btn-primary(type="submit"  )   Отправить резюме
				+policy()
	// #modal-call
	div(id="modal-slider"  style="display: none" )
		+b.sProdCard--modal
			//- +e.row.row
			//- 	.col-12
			+e.full-slider-wrap
				+e.thumb-arrow-wrap--modal.order-2.order-md-1
					+e.thumb-slider--thumb-js-2.swiper
						.swiper-wrapper
							+e.slide-thumb.swiper-slide
								+e.img-wrap
									.img-wrap-center
										+img('img/videoPreview.jpg', 'bg')
							-for(let i = 1; i <= 9; i++)
								+e.slide-thumb.swiper-slide
									+e.img-wrap
										.img-wrap-center
											+img(`img/sProdCard-img-1.png`)
					.d-none.d-md-block
						+arrow('chevron-down-dd', 'chevron-down-dd')
				+e.swiper-wrap--modal.order-1.order-md-2
					+e.slider--js-2.swiper
						.swiper-wrapper
							+e.slide.swiper-slide
								+e.img-wrap
									.img-wrap-center
										<iframe src="https://www.youtube.com/embed/J-0cGMDo1mU" title="🔥 Cozy Fireplace 4K (12 HOURS). Fireplace with Crackling Fire Sounds. Soothing Fireplace 4K" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							-for(let i = 0; i < 9; i++)
								+e.slide.swiper-slide
									+e.img-wrap
										.img-wrap-center
											+img('img/sProdCard-img-1.png')
					.d-none.d-md-block
						+arrow()
	div(id="modal-add"  style="display: none" )
		+b.modal-win--add
			+e.title Добавьте в корзину основной товар
			p Покупака дополнительных товаров возможна только при покупки основного товара. Пожалуйста, добавьте его в корзину
	// #modal-call
	// #modal-call