$default-font: "Montserrat";
$second-font: "Roboto";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2;


// If font from googlefont, next lines remove

@include font-face ($default-font, $addr + "Montserrat1/Montserrat-Bold", bold, $file-formats: ttf);
@include font-face ($default-font, $addr + "Montserrat1/Montserrat-SemiBold", 600, $file-formats: ttf);
@include font-face ($default-font, $addr + "Montserrat1/Montserrat-Medium", 500, $file-formats: ttf);
@include font-face ($default-font, $addr + "Montserrat1/Montserrat-Regular", 400, $file-formats: ttf);
@include font-face ($second-font, $addr + "Roboto/RobotoRegular", $file-formats: $file-format);

// font-weight helper:
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold