@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-catalog-icon-1 {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-logo {
	--h: 32;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(80 / var(--h) *1em );
}
.iconC-logo2 {
	--h: 56;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(139 / var(--h) *1em );
}
.iconC-logoDesign {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.iconC-shopping-cart {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(25 / var(--h) *1em );
}
.iconC-telegram {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(16 / var(--h) *1em );
}
