@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-MapPin {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-PhoneCall {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-alert {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(16 / var(--h) *1em );
}
.iconC-arrow-up {
	--h: 29;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.iconC-catalog-icon-1 {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-dislike {
	--h: 35;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(38 / var(--h) *1em );
}
.iconC-info {
	--h: 20;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(20 / var(--h) *1em );
}
.iconC-like {
	--h: 35;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(38 / var(--h) *1em );
}
.iconC-logo {
	--h: 32;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(80 / var(--h) *1em );
}
.iconC-logo2 {
	--h: 56;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(139 / var(--h) *1em );
}
.iconC-logoDesign {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(28 / var(--h) *1em );
}
.iconC-mail2 {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-profile {
	--h: 20;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(20 / var(--h) *1em );
}
.iconC-sIndividualOrder-icon-1 {
	--h: 48;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(48 / var(--h) *1em );
}
.iconC-sIndividualOrder-icon-2 {
	--h: 48;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(48 / var(--h) *1em );
}
.iconC-shopping-cart {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(25 / var(--h) *1em );
}
.iconC-telegram {
	--h: 16;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(16 / var(--h) *1em );
}
.iconC-tg2 {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
.iconC-whatsapp2 {
	--h: 24;
	font-size:calc( var(--h) / 10 * 1rem);
	width: calc(24 / var(--h) *1em );
}
