// start .sMakingAnOrder
.sMakingAnOrder {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	--sTPB: #{rem(24)};
	counter-reset: number;
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__img-wrap {
		padding: rem(8) 0 rem(24);
		max-width: 608px;
		width: 100%;
		img {
			width: 100%;
		}
	}
	.sContent__numbered-list {
		li {
			line-height: 125%;
			&:not(:last-child) {
				margin-bottom: rem(24);
			}
		}
	}
	p {
		margin-bottom: rem(24);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMakingAnOrder