mixin sMakingAnOrder(data)
	// start sMakingAnOrder
	+b.SECTION.sMakingAnOrder.section#sMakingAnOrder&attributes(attributes)
		+b.section-title(data-aos="fade-up" data-aos-duration="400")
			h1.h5 Как оформить заказ
		p(data-aos="fade-up" data-aos-duration="400") Вы можете оформить заказ удобным для Вас способом: на сайте, по телефону, по e-mail, в мессенджерах.
		+b.numbered-list.UL
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Выберите понравившийся вам товар в&nbsp;каталоге (если затрудняетесь найти товар в&nbsp;каталоге, воспользуйтесь поиском вверху страницы).
				+e.img-wrap
					+img('img/making-order-1.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title  Нажмите кнопку &laquo;В&nbsp;корзину&raquo; рядом с&nbsp;выбранным товаром.
				+e.img-wrap
					+img('img/making-order-1.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Перейдите в&nbsp;раздел &laquo;Корзина&raquo;.
				+e.img-wrap
					+img('img/making-order-3.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title  Ознакомьтесь с&nbsp;составом корзины.
				+e.img-wrap
					+img('img/making-order-3.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Выберите способ получения товара.
				+e.img-wrap
					+img('img/making-order-5.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Укажите или скорректируйте количество товаров.
				+e.img-wrap
					+img('img/making-order-5.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Нажмите кнопку &laquo;Оформить доставку&raquo; и&nbsp;укажите адрес доставки.
				+e.img-wrap
					+img('img/making-order-7.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title  Заполните форму с&nbsp;контактными данными на&nbsp;странице оформления доставки (для получения заказа необходимо иметь при себе документ, удостоверяющий личность).
				+e.img-wrap
					+img('img/making-order-8.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Выберите способ оплаты заказа и нажмите кнопку «Оформить».
				+e.img-wrap
					+img('img/making-order-8.jpg')
			+e.item.LI(data-aos="fade-up" data-aos-duration="400")
				+e.title Заполните необходимые поля и&nbsp;оплатите заказ.
				+e.img-wrap
					+img('img/making-order-10.jpg')
		p(data-aos="fade-up" data-aos-duration="400") Более подробная информация по способам оплаты в разделе <a href="#">способ оплаты</a>.
		blockquote.sContent__blockquote(data-aos="fade-up" data-aos-duration="400") Внимание. В&nbsp;связи с&nbsp;повышенной нагрузкой мы&nbsp;можем устанавливать минимальную сумму заказа на&nbsp;доставку. Минимальная сумма заказа применяется для каждой группы товаров, оформляемой как отдельный заказ, а&nbsp;не&nbsp;для общей стоимости всех заказов.
	// end sMakingAnOrder