mixin sTnx(data)
	// start sTnx
	+b.SECTION.sTnx.section#sTnx&attributes(attributes)
		.container
			+e.wrap
				h4 Спасибо за заказ
				p В ближайшее время с вами свяжется менеджер и уточнит заказ, доставку и стоимость. 
				+e.btn.btn.btn-primary(href='#') В каталог
	// end sTnx