mixin sPopularCategories(data)
	// start sPopularCategories
	+b.SECTION.sPopularCategories.section#sPopularCategories&attributes(attributes)
		.container
			+e.wrap
				+b.section-title 
					.row
						.col
							h4 Популярные категории
						.col-auto
							a.show-more-js(href="#") 
								| Смотреть все
								+icon('chevron-right')
				+e.row.row
					mixin item(text, img, bgColor)
						+e.col.col-md-2
							+e.item(href='#' style=`--bgColor: ${bgColor}`)
								+e.item-inner
									!= text
									img(src=`img/${img}`)
					+item('Дачные постройки и&nbsp;конструкции', 'sPopularCategories-img-1.png', '#EBF8B5')
					+item('Садовая мебель и&nbsp;мебель для бани', 'sPopularCategories-img-2.png', '#FFCDC6')
					+item('Качели и&nbsp;подвесные кресла', 'sPopularCategories-img-3.png', '#E8FCDD')
					+item('Приготовление пищи на&nbsp;открытом огне', 'sPopularCategories-img-4.png', '#FFF3D2')
					+item('Все для бани и&nbsp;сауны', 'sPopularCategories-img-5.png', '#F2E8DD')
					+item('Печи и&nbsp;камины', 'sPopularCategories-img-6.png', '#FFEBED')
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
		+e.full-list
			+e.close: +icon('close')
			.container
				+e.row.row
					+item('Дачные постройки и&nbsp;конструкции', 'sPopularCategories-img-1.png', '#EBF8B5')
					+item('Садовая мебель и&nbsp;мебель для бани', 'sPopularCategories-img-2.png', '#FFCDC6')
					+item('Качели и&nbsp;подвесные кресла', 'sPopularCategories-img-3.png', '#E8FCDD')
					+item('Приготовление пищи на&nbsp;открытом огне', 'sPopularCategories-img-4.png', '#FFF3D2')
					+item('Все для бани и&nbsp;сауны', 'sPopularCategories-img-5.png', '#F2E8DD')
					+item('Печи и&nbsp;камины', 'sPopularCategories-img-6.png', '#FFEBED')
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
					//- 
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
	// end sPopularCategories