mixin sPopularCategories(data)
	// start sPopularCategories
	+b.SECTION.sPopularCategories.section#sPopularCategories&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="400")
					.row
						.col
							h4 Популярные категории
						.col-auto
							a.show-more-js(href="#") 
								| Смотреть все
								+icon('chevron-right')
				+e.row.row(data-aos="fade-up" data-aos-duration="400")
					mixin item(text, img, bgColor)
						+e.col.col-md-2
							+e.item(href='#' style=`--bgColor: ${bgColor}`)
								+e.item-inner
									!= text
									img(src=`img/${img}`)
					+item('Дачные постройки и&nbsp;конструкции', 'sPopularCategories-img-1.png', '#EBF8B5')
					+item('Садовая мебель и&nbsp;мебель для бани', 'sPopularCategories-img-2.png', '#FFCDC6')
					+item('Качели и&nbsp;подвесные кресла', 'sPopularCategories-img-3.png', '#E8FCDD')
					+item('Приготовление пищи на&nbsp;открытом огне', 'sPopularCategories-img-4.png', '#FFF3D2')
					+item('Все для бани и&nbsp;сауны', 'sPopularCategories-img-5.png', '#F2E8DD')
					+item('Печи и&nbsp;камины', 'sPopularCategories-img-6.png', '#FFEBED')
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
		+e.full-list
			+e.close: +icon('close')
			.container
				+e.row.row
					+item('Дачные постройки и&nbsp;конструкции', 'sPopularCategories-img-1.png', '#EBF8B5')
					+item('Садовая мебель и&nbsp;мебель для бани', 'sPopularCategories-img-2.png', '#FFCDC6')
					+item('Качели и&nbsp;подвесные кресла', 'sPopularCategories-img-3.png', '#E8FCDD')
					+item('Приготовление пищи на&nbsp;открытом огне', 'sPopularCategories-img-4.png', '#FFF3D2')
					+item('Все для бани и&nbsp;сауны', 'sPopularCategories-img-5.png', '#F2E8DD')
					+item('Печи и&nbsp;камины', 'sPopularCategories-img-6.png', '#FFEBED')
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
					//- 
					+item('Детские домики и&nbsp;детские комплексы', 'sPopularCategories-img-7.png', '#FDF8D0')
					+item('Бассейны', 'sPopularCategories-img-8.png', '#DAF4FF')
					+item('Ландшафтный дизайн, садовый декор и&nbsp;текстиль', 'sPopularCategories-img-9.png', '#FFE8C6')
					+item('Светильники, фонари и&nbsp;световые фигуры', 'sPopularCategories-img-10.png', '#DAFAFA')
					+item('Садовая техника', 'sPopularCategories-img-11.png', '#E8FCDD')
					+item('Постройки и&nbsp;товары для животных и&nbsp;птиц', 'sPopularCategories-img-12.png', '#FDF8D0')
	// end sPopularCategories

mixin sPopularCategories2(data)
	// start sPopularCategories
	+b.SECTION.sPopularCategories--2.section#sPopularCategories&attributes(attributes)
		+e.wrap
			+b.section-title(data-aos="fade-up" data-aos-duration="400")
				.row
					.col
						h5 Популярные
					.col-auto
						a.show-more-btn--js.d-md-none(href="#") 
							span.show Смотреть все
							span.hide Скрыть
							+icon('chevron-down')
			+e.row.row(data-aos="fade-up" data-aos-duration="400")
				mixin item(text, img, bgColor)
					+e.col.col-md-auto
						+e.item(href='#' style=`--bgColor: ${bgColor}`)
							+e.item-inner
								+e.img-wrap
									img(src=`img/${img}`)
								!= text
				+item('Беседки и домики гриль', 'sPopularCategories-img-13.png', '#EBF8B5')
				+item('Летние кухни, гриль зоны, барбекю комплексы', 'sPopularCategories-img-14.png', '#FFCDC6')
				+item('Навесы для машин', 'sPopularCategories-img-15.png', '#E8FCDD')
				+item('Дачные и садовые домики', 'sPopularCategories-img-16.png', '#F2E8DD')
				+item('Бани, срубы, бани бочки', 'sPopularCategories-img-17.png', '#FFEBED')
				+item('Пристройки и веранды к дому', 'sPopularCategories-img-18.png', '#FDF8D0')
				+item('Хозблоки, бытовки, дровники', 'sPopularCategories-img-19.png', '#CFF3DC')
				+item('Детские домики, игровые комплексы и площадки', 'sPopularCategories-img-7.png', '#FDF8D0')
				+item('Теплицы и парники', 'sPopularCategories-img-20.png', '#E8FCDD')
				+item('Постройки и товары для животных и птиц', 'sPopularCategories-img-12.png', '#FDF8D0')