extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCardSlider/_sCardSlider.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sProdCardInfo/_sProdCardInfo.pug

block variables
	- let  mainPage= 'prod-card-page modal-with-slider' 
	- let  bg= ''

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		+page-head('Парковые качели «Пагода_2»', '#83274058', 'h5', 'Дачные постройки и конструкции', 'Летние кухни, гриль зоны, барбекю комплексы', 'Летние кухни, гриль зоны, барбекю комплексы', 'Парковые качели «Пагода_2» идеальный выбор для сада, загородного дома, коттеджа, дачи. Оно выполнено из качественного полипропилена')
		+sProdCard({
			discount: false,
			img: {
				link: 'sProdCard-img-2.png',
				bg: 'bg',
			},
			addToCard: false,
			favActive: true,
			getConsultation: true
		})
		+sProdCardInfo
		+sCardSlider('С этим также берут', '', true)
			+e.slide.swiper-slide
				+card('card-9.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')
			+e.slide.swiper-slide
				+card('card-10.png', '19 690 ₽', 'Батут Start Line 10464S1M Fitness 10 футов диаметр 305 см', '')
			+e.slide.swiper-slide
				+card('card-11.png', '2 995 ₽', 'Детская деревянная площадка IgraGrad Крафт Pro 3', '')
			+e.slide.swiper-slide
				+card('card-12.png', '16 490 ₽', 'Теннисный стол Progress 3х2', '')
			+e.slide.swiper-slide
				+card('card-13.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')
		+sCardSlider('Похожие товары', '', true)
			+e.slide.swiper-slide
				+card('card-9.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')
			+e.slide.swiper-slide
				+card('card-10.png', '19 690 ₽', 'Батут Start Line 10464S1M Fitness 10 футов диаметр 305 см', '')
			+e.slide.swiper-slide
				+card('card-11.png', '2 995 ₽', 'Детская деревянная площадка IgraGrad Крафт Pro 3', '')
			+e.slide.swiper-slide
				+card('card-12.png', '16 490 ₽', 'Теннисный стол Progress 3х2', '')
			+e.slide.swiper-slide
				+card('card-13.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')
		+sAlsoWatch(false).sAlsoWatch--2
	+parts('footer')
	//- div(id="modal-slider"  style="display: none" )
	//- 	+b.sProdCard--modal
	//- 		//- +e.row.row
	//- 		//- 	.col-12
	//- 		+e.full-slider-wrap
	//- 			+e.thumb-arrow-wrap--modal.order-2.order-md-1
	//- 				+e.thumb-slider--thumb-js-2.swiper
	//- 					.swiper-wrapper
	//- 						-for(let i = 1; i <= 9; i++)
	//- 							+e.slide-thumb.swiper-slide
	//- 								+e.img-wrap
	//- 									.img-wrap-center
	//- 										+img(`img/sProdCard-img-1.png`)
	//- 				.d-none.d-md-block
	//- 					+arrow()
	//- 			+e.swiper-wrap--modal.order-1.order-md-2
	//- 				+e.slider--js-2.swiper
	//- 					.swiper-wrapper
	//- 						-for(let i = 0; i < 9; i++)
	//- 							+e.slide.swiper-slide
	//- 								+e.img-wrap
	//- 									.img-wrap-center
	//- 										+img('img/sProdCard-img-1.png')
	//- 				.d-none.d-md-block
	//- 					+arrow()
      



