extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sPopularCategories/_sPopularCategories.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sIndividualOrder/_sIndividualOrder.pug
include ../blocks/sBestsellers/_sBestsellers.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= ''

block title
	- let  title= 'Дачные постройки и конструкции'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		+b.block-with-aside--2
			.container
				+e.row.row
					+e.col-auto.col-auto
						.h6(data-aos="fade-up" data-aos-duration="400") Дачные постройки и конструкции
						mixin item(text, links=[])
							+e.item(data-aos="fade-up" data-aos-duration="400")
								p!= text
								each link in links
									a(href="#")!= link
						+item('Беседки и гриль домики', ['Беседки и гриль домики', 'Гриль домики', 'Зоны отдыха'])
						+item('Летние кухни, гриль зоны, барбекю комплексы', ['Летние кухни', 'Гриль зоны', 'Барбекю комплексы', 'Садовые кухни'])
						+item('Навесы для машин', ['Навесы для машин'])
						+item('Гаражи и мастерские', ['Гаражи', 'Мастерские'])
						+item('Дачные и садовые домики', ['Садовые дачные домики', 'Летние домики', 'Барнхаус', 'А – Дома'])
						+item('Бани, срубы, бани бочки', ['Бани каркасные', 'Мобильные бани', 'Бани-бочки', 'Бани ручная рубка', 'Бани оцилиндрованное бревно', 'Бани профилированные клееный брус', 'Бани профилированный брус массив'])
						+item('Хозблоки, бытовки, дровники', ['Хозблоки', 'Хозяйственные домики', 'Бытовки', 'Дровники', 'Дровницы, поленницы', 'Домики для инвентаря и инструментов '])
						+item('Детские домики, игровые комплексы и площадки', ['Детские домики', 'Детские комплексы', 'Деревянные горки', 'Домики на дереве', 'Песочницы'])
						+item('Постройки для животных', ['Вольеры для собак', 'Будки для собак', 'Будки для кошек', 'Курятники и загоны для кур', 'Гусятники, утятники, индюшатники', 'Крольчатники', 'Ульи'])
						+item('Перголы, шпалеры, арки', ['Перголы', 'Шпалеры и садовые ширмы', 'Арки'])
						+item('Террасы, настилы, подиумы', ['Террасы', 'Настилы', 'Подиумы'])
						+item('Крыльцо и козырьки над входом', ['Крыльцо', 'Козырьки и Навесы над входом'])
						+item('Заборы и ворота', ['Заборы', 'Столбы для заборов', 'Ворота и Калитки'])
						+item('Теплицы и парники', ['Теплицы', 'Парники', 'Мини-парники'])
						+item('Туалеты для дачи, биотуалеты', ['Туалеты для дачи', 'Биотуалеты', 'Аксессуары и комплектующие для биотуалетов'])
						+item('Дачные души и умывальник', ['Дачные души', 'Баки для душа', 'Мобильные душевые кабины', 'Умывальники садовые и дачные', 'Рукомойники'])
						+item('Садовый декор', ['Мельницы', 'Мостики', 'Телеги', 'Избушки'])
						+item('Домики для колодцев', ['Деревянные колодцы', 'Срубы для колодцев'])
						+item('Уличные хранилища', ['Уличный шкаф', 'Коробки и ящики для хранения', 'Сундуки'])
						+item('Погреба', ['Пластиковые погреба', 'Винные погреба'])
					.col
						+sBanners2
						+sIndividualOrder
						+sPopularCategories2
						+sBestsellers
		+sAlsoWatch(false)
	+parts('footer')
      



