extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= ''

block title
	- let  title= 'Избранное'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		+sContent
			+e.banner.bg-wrap
				picture
					source(media="(min-width: 768px)", srcset="img/sBanners-img-4-lg.jpg")
					img(src="img/sBanners-img-4-sm.jpg", alt="").picture-bg.object-fit-js
				h1.h3 О компании «Русская деревня»
				p крупнейшая и уникальная компания в сфере комплексного обустройства загородного участка
			p Компания &laquo;Русская Деревня&raquo;&nbsp;&mdash; это крупнейшая и&nbsp;уникальная компания в&nbsp;сфере комплексного обустройства загородного участка.
			p.mb-40 Все, что нужно для комфортной жизни за&nbsp;городом&nbsp;&mdash; отдыха, работы, благоустройства, приготовления пищи на&nbsp;открытом огне, активных игр и&nbsp;развлечений, теперь&nbsp;Вы можете приобрести в&nbsp;одном месте. Компания состоит<br>из&nbsp;самого большого в&nbsp;России производства дачных построек и&nbsp;конструкций, торгового отдела, отдела маркетинга, архитектурно-проектного отдела, отдела снабжения и&nbsp;логистики, вместительных складов и&nbsp;строительно-монтажного участка.
			mixin enumerationItem(icon, text)
				+e.enumeration-item
					+img(`img/svg/${icon}`)
					!= text
			+e.enumeration
				img(src='img/svg/logo-bg-img.svg' alt='').bg-img
				.row
					.col-6.col-md-3
						+enumerationItem('sContent-icon-1.svg', 'Отдел<br>маркетинга')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-2.svg', 'Торговый<br>отдел')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-3.svg', 'Архитектурно-<br>проектный отдел')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-4.svg', 'Отдел<br>снабжения')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-5.svg', 'Собственные<br>склады')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-6.svg', 'Производство дачных построек и конструкций')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-7.svg', 'Отдел<br>логистики')
					.col-6.col-md-3
						+enumerationItem('sContent-icon-8.svg', 'Строительно-монтажный участок')
			p Наша история началась в&nbsp;2014&nbsp;году, когда была создана производственная компания &laquo;Русская Беседка&raquo;, специализирующаяся на&nbsp;производстве и&nbsp;строительстве деревянных беседок, навесов для автомобилей, летних кухонь, пристроек, детских домиков, пергол и&nbsp;гриль-домиков.
			p Мы&nbsp;успешно справлялись с&nbsp;намеченными целями, радовали заказчиков красивыми, качественными постройками, и&nbsp;вскоре стало расти количество запросов на&nbsp;производство, монтаж и&nbsp;поставку других изделий, предназначенных для обустройства загородных участков и&nbsp;частично городской среды.
			p В&nbsp;дополнение к&nbsp;основному ассортименту мы&nbsp;стали производить дачные домики, скамейки, столы, лавки, качели, вазоны, арки, деревянные горки и&nbsp;многое другое. Стали поставлять печи-барбекю, мангалы, грили, мягкие окна, уличные шторы, освещение, ограждения.
			p Количество запросов на&nbsp;разнопрофильные товары, производимые и&nbsp;поставляемые нами, постоянно увеличивалось, что подтолкнуло нас к&nbsp;созданию крупнейшей торгово&nbsp;&mdash; производственной компании, поставляющей все товары, предназначенные для жизни за&nbsp;городом.
			p.mb-40 Персонал &laquo;Русской Деревни&raquo;&nbsp;&mdash; сплоченная команда единомышленников, работающая в&nbsp;одном направлении для достижения общей цели. Нашим клиентам гарантируется вежливое и&nbsp;внимательное отношение, высокое качество обслуживания, подбор изделий полностью отвечающих запросам потребителя.
			+e.enumeration
				img(src='img/svg/logo-bg-img.svg' alt='').bg-img
				h5 Почему мы?
				.row
					.col-6.col-md-4
						+enumerationItem('sContent-icon-9.svg', 'Огромный выбор')
					.col-6.col-md-4
						+enumerationItem('sContent-icon-10.svg', 'Простая и удобная система заказа товара')
					.col-6.col-md-4
						+enumerationItem('sContent-icon-11.svg', 'Собственное производство и&nbsp;проектный отдел')
					.col-6.col-md-4
						+enumerationItem('sContent-icon-12.svg', 'Оперативная доставка и&nbsp;сборка заказов')
					.col-6.col-md-4
						+enumerationItem('sContent-icon-13.svg', 'Совместимые между собой технологии и материалы')
					.col-6.col-md-4
						+enumerationItem('sContent-icon-14.svg', 'Безопасность – 100% гарантия юридической чистоты сделки')
			h5 Наша цель
			p Воплотить в&nbsp;жизнь ваши мечты об&nbsp;обустройстве загородного участка, создать обстановку, которая сделает Ваши дни ярче, а&nbsp;так&nbsp;же предоставлять качественный клиентский сервис покупателям, быть максимально удобными и&nbsp;работать честно.
			h5 Сведения о юридическом лице
			ul 
				li ООО &laquo;РУССКАЯ ДЕРЕВНЯ&raquo;
				li ИНН: 6732211233
				li КПП: 673201001
				li ОГРН: 1216700007370
				li Расчетный счет: 40702810959000015240
				li Банк: СМОЛЕНСКОЕ ОТДЕЛЕНИЕ N8609&nbsp;ПАО СБЕРБАНК
				li БИК: 046614632
				li Корр. счет: 30101810000000000632
				li Юридический адрес: 214009, Смоленская обл., Смоленск г., Рославльское ш., 5&nbsp;км
				li Генеральный Директор:
				li Клюев Сергей Анатольевич
	+parts('footer')
      



