extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sVacancyInfo/_sVacancyInfo.pug
include ../blocks/sVacancyBlock/_sVacancyBlock.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= ''

block title
	- let  title= 'Вакансия'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		+headerBlock2('headerBlock-img-8.jpg', 'Отдел логистики')
		+sVacancyInfo
			//- +e.content
			p В&nbsp;борьбе за&nbsp;клиента на&nbsp;рынке e‑commerce победит тот, кто доставит заказ как можно быстрее.&nbsp;98% всех покупок на&nbsp;Ozon доставляется вовремя. Наши машины движутся со&nbsp;средней скоростью 55&nbsp;км/ч, и&nbsp;в&nbsp;каждой едет не&nbsp;меньше четырёх тысяч посылок.
			p Чтобы держать такую высокую планку, мы&nbsp;строим инновационную систему логистики и&nbsp;постоянно экспериментируем: каждый день ищем решения, как ускорить доставку посылок в&nbsp;самые отдалённые регионы страны или сильно сократить время разгрузки. Мы&nbsp;создали собственную TMS и&nbsp;ещё несколько полезных программ для контроля транспорта и&nbsp;анализа всех показателей.
		+sVacancyBlock
	+parts('footer')
      



