extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sPopularCategories/_sPopularCategories.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sIndividualOrder/_sIndividualOrder.pug
include ../blocks/sBestsellers/_sBestsellers.pug
include ../blocks/sMakingAnOrder/_sMakingAnOrder.pug

block variables
	- let  mainPage= 'bg-white' 
	- let  bg= ''

block title
	- let  title= 'Возврат товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		//- +page-head('Летние кухни, гриль зоны, барбекю комплексы', '', 'h4', 'Дачные постройки и конструкции', 'Летние кухни, гриль зоны, барбекю комплексы', 'Барбекю комплексы')
		+b.block-with-aside
			.container
				+e.row.row
					+e.col.col-12.col-md-auto(data-aos="fade-up" data-aos-duration="400")
						+b.help-menu
							+e.title Помощь
							+e.dd-button--js.d-md-none.BUTTON Как оформить заказ
							+e.list.UL.d-md-block
								+e.item.LI
									+e.link(href="#") Как оформить заказ
								+e.item.LI
									+e.link(href="#") Оплата заказа
								+e.item.LI
									+e.link(href="#") Получение заказа
								+e.item.LI
									+e.link(href="#") География продаж
								+e.item.LI
									+e.link(href="#") Доставка и установка
								+e.item.LI
									+e.link--active(href="#") Возврат товара
							+e.question(href='#' data-fancybox='side-send-question' data-src='#modal-question') Остались вопросы?
					+e.col--refund.col
						+b.section-title(data-aos="fade-up" data-aos-duration="400")
							h1.h5 Возврат товара
						h2.h5(data-aos="fade-up" data-aos-duration="400") Возврат и обмен товара надлежащего качества
						p(data-aos="fade-up" data-aos-duration="400") Если Вы&nbsp;совершили дистанционную покупку в&nbsp;Интернет-магазине &laquo;Кувалда.ру&raquo;, возврат товара надлежащего качества, не&nbsp;бывшего в&nbsp;употреблении, возможен в&nbsp;течение 7&nbsp;дней после продажи при сохранении товарного вида, потребительских свойств товара и&nbsp;его полной комплектации, наличия сопроводительной документации. Исключения составляют товары надлежащего качества с&nbsp;индивидуально-определенными свойствами, которые могут быть использованы исключительно приобретающим его потребителем (Постановление Правительства РФ&nbsp;от&nbsp;27.09.2007&nbsp;N 612 (ред.&nbsp;от&nbsp;04.10.2012) &laquo;Об&nbsp;утверждении Правил продажи товаров дистанционным способом&raquo;).
						p(data-aos="fade-up" data-aos-duration="400") Если&nbsp;же покупка была совершена в&nbsp;одном из&nbsp;наших розничных магазинов (пунктов выдачи), обмен товара надлежащего качества, не&nbsp;бывшего в&nbsp;употреблении, не&nbsp;подошедшего по&nbsp;параметрам, характеристикам или комплектации возможен в&nbsp;течение 14&nbsp;дней после продажи при сохранении товарного вида, потребительских свойств товара и&nbsp;его полной комплектации, наличия сопроводительной документации (Закон РФ&nbsp;от&nbsp;07.02.1992&nbsp;N 2300-1 (ред.&nbsp;от&nbsp;18.04.2018) &laquo;О&nbsp;защите прав потребителей&raquo;, Статья&nbsp;25. Право потребителя на&nbsp;обмен товара надлежащего качества). Исключение составляют технически сложные товары (электроинструмент, бензотехника, станки, насосное оборудование и&nbsp;др.) (Постановление Правительства РФ&nbsp;от&nbsp;19&nbsp;января 1998&nbsp;г. N&nbsp;55 (ред.&nbsp;от&nbsp;27.05.2016&nbsp;N 471) ) &laquo;Об&nbsp;утверждении правил продажи отдельных видов товаров, Перечня товаров длительного пользования, на&nbsp;которые не&nbsp;распространяется требование покупателя о&nbsp;безвозмездном предоставлении ему на&nbsp;период ремонта или замены аналогичного товара, и&nbsp;Перечня непродовольственных товаров надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации&raquo;).
						h2.h5(data-aos="fade-up" data-aos-duration="400") Возврат товара ненадлежащего качества
						p(data-aos="fade-up" data-aos-duration="400") При обнаружении недостатка в&nbsp;товаре, во&nbsp;время действия гарантийного срока, вы&nbsp;имеете право: отказаться от&nbsp;товара, потребовать замены купленного товара на&nbsp;товар этой&nbsp;же или другой модели (с&nbsp;перерасчетом цены) либо потребовать уменьшения цены товара или безвозмездного устранения недостатков товара. Если недостаток был обнаружен в&nbsp;технически сложном товаре, срок предъявления требования о&nbsp;возврате составит 15&nbsp;дней со&nbsp;дня получения товара, по&nbsp;истечении данного срока покупатель может претендовать только на&nbsp;гарантийный ремонт (Закон РФ&nbsp;от&nbsp;07.02.1992&nbsp;N 2300-1 (ред.&nbsp;от&nbsp;18.04.2018) &laquo;О&nbsp;защите прав потребителей&raquo; Статья&nbsp;18. Права потребителя при обнаружении в&nbsp;товаре недостатков).
						p(data-aos="fade-up" data-aos-duration="400") Для выявления причин появления недостатка в&nbsp;товаре мы&nbsp;отправим товар на&nbsp;процедуру проверки качества в&nbsp;авторизованный сервисный центр. Вы&nbsp;вправе участвовать в&nbsp;процедуре по&nbsp;проверке качества товара. При обнаружении дефекта производственного (заводского) характера мы&nbsp;вернем вам денежные средства или обменяем товар на&nbsp;аналогичный. При отказе потребителя от&nbsp;обмена товара мы&nbsp;вернем денежную сумму, уплаченную за&nbsp;товар, за&nbsp;исключением суммы, оплаченной продавцу за&nbsp;доставку товара (Закон РФ&nbsp;от&nbsp;07.02.1992&nbsp;N 2300-1 (ред.&nbsp;от&nbsp;18.04.2018) &laquo;О&nbsp;защите прав потребителей&raquo; Статья&nbsp;18. Права потребителя при обнаружении в&nbsp;товаре недостатков).
						p(data-aos="fade-up" data-aos-duration="400") Обмен и&nbsp;возврат товара производится на&nbsp;основании Заявления, заполненного и&nbsp;подписанного Покупателем. Для оформления возврата товара покупатель обязан иметь при себе паспорт.
						p(data-aos="fade-up" data-aos-duration="400") Закон РФ&nbsp;от&nbsp;07.02.1992&nbsp;N 2300-1 (ред.&nbsp;от&nbsp;18.04.2018) &laquo;О&nbsp;защите прав потребителей&raquo; регламентирует отношения между потребителем (физическим лицом) и&nbsp;продавцом (юридическим лицом). Если&nbsp;же отношения возникают между юридическими лицами, регулирует их&nbsp;уже Гражданский кодекс Российской Федерации.
	+parts('footer')
      



