extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sPopularCategories/_sPopularCategories.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sIndividualOrder/_sIndividualOrder.pug
include ../blocks/sBestsellers/_sBestsellers.pug
include ../blocks/sCardSlider/_sCardSlider.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= ''

block title
	- let  title= 'Статья'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		+page-head('Самые неприхотливые сорта яблок', '', 'sContent__h1', 'Энциклопедия дачника', 'Самые неприхотливые сорта яблок')
		+sContent
			+e.wrap.bg-wrap
				+img('img/article-main.jpg', 'bg')
			+e.text-wrap
				p Яблоки&nbsp;&mdash; всеми любимый фрукт. Они помогают восстанавливать кровь, выводят токсины и&nbsp;лишнюю соль из&nbsp;организма, понижают уровень холестерина и&nbsp;помогают в&nbsp;борьбе со&nbsp;стрессом. Полезные вещества и&nbsp;витамины, содержащиеся в&nbsp;них, помогают сохранять здоровье до&nbsp;старости.
				+e.img-wrap
					+img(`img/article-1.jpg`)
				p Но&nbsp;как&nbsp;же вырастить яблоки в&nbsp;таких непостоянных погодных условиях? Рассмотрим самые неприхотливые сорта яблок, которые сможет вырастить каждый.
				+article('Папировка','Летний сорт яблок, который пользуется огромной популярностью. Яблоки вырастают до&nbsp;средних размеров (около 80&nbsp;грамм). Папировки обычно бледно-желтые с&nbsp;тонким швом, проходящим вертикально по&nbsp;кожице. На&nbsp;вкус яблоки сочные кисло-сладкие.','article-2')
				+article('Жемчужное','Плоды собирают весь август. Яблоки очень крупные, круглой формы. Цвет яблок светло-зеленый с&nbsp;жемчужным отливом. Мякоть сочная и&nbsp;мягкая.','article-3')
				+article('Мантет','Плоды среднего размера зелено-желтого окраса. При полном созревании приобретаю ярко-красный румянец. На&nbsp;вкус яблоки кисло-сладкие. Отлично подходят для производства сока или повидла.','article-4')
				+article('Терентьевка','Яблоки небольшого размера с&nbsp;рыхлой кисло-сладкой мякотью. Цвет яблок представлен сочетанием красного и&nbsp;зеленого цветов. Плоды достигают достаточно крупных размеров (до&nbsp;180&nbsp;грамм), но&nbsp;встречаются и&nbsp;мелкие. Терентьевку собирают с&nbsp;начала августа.','article-5')
				+e.share-block
					+e.share Поделиться
					+b.share-soc.UL
						li
							+e.A.item--telegram
								+icon('telegram')
						li
							+e.A.item--vk
								+icon('vk')
						li
							+e.A.item--whatsapp
								+icon('whatsapp')
		+sCardSlider('Похожие рецепты', '', false).sCardSlider--recipe
			+e.slide.swiper-slide
				+recipe-card('recipe-img-1.jpg', 'Салат из редиса, огурца и феты', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-3.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-4.jpg', 'Гренки из батона с молоком на сковороде', 'Гренки из батона с молоком на сковороде - блюдо универсальное.')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-5.jpg', 'Салат греческий классический', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-6.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-7.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			+e.slide.swiper-slide
				+recipe-card('recipe-img-8.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
		+sCardSlider('Вам может понравиться', '', false)
				+e.slide.swiper-slide
					+card('card-9.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')
				+e.slide.swiper-slide
					+card('card-10.png', '19 690 ₽', 'Батут Start Line 10464S1M Fitness 10 футов диаметр 305 см', '')
				+e.slide.swiper-slide
					+card('card-11.png', '2 995 ₽', 'Детская деревянная площадка IgraGrad Крафт Pro 3', '')
				+e.slide.swiper-slide
					+card('card-12.png', '16 490 ₽', 'Теннисный стол Progress 3х2', '')
				+e.slide.swiper-slide
					+card('card-13.png', '10 730 ₽', 'Бассейн каркасный Avenli 230478 круглый 3.05х3.05 м ПВХ', '')

		
		
		+sAlsoWatch29(false)

	+parts('footer')
      



