extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAlsoWatch/_sAlsoWatch.pug
include ../blocks/sPopularCategories/_sPopularCategories.pug
include ../blocks/sBanners/_sBanners.pug
include ../blocks/sIndividualOrder/_sIndividualOrder.pug
include ../blocks/sBestsellers/_sBestsellers.pug

block variables
	- let  mainPage= 'bg-gray' 
	- let  bg= ''

block title
	- let  title= 'Каталог рецептовы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+topBtns().d-md-none
	main
		//- +page-head('Летние кухни, гриль зоны, барбекю комплексы', '', 'h4', 'Дачные постройки и конструкции', 'Летние кухни, гриль зоны, барбекю комплексы', 'Барбекю комплексы')
		+b.block-with-aside
			.container
				+e.row.row
					+e.col-auto.col-auto
						+filter29
							+e.item
								+e.headline.h5 Категории
								+e.link(href='#') Рецепты
								+e.link(href='#') Энциклопедия дачника
							+ddGroup()
								+ddGroupItem('Рецепты для барбекю', '', '')
									+in-c('checkbox', 'Мясо', 'bbq')
									+in-c('checkbox', 'Рыба', 'bbq')
									+in-c('checkbox', 'Морепродукты', 'bbq')
									+in-c('checkbox', 'Овощи', 'bbq')
									+in-c('checkbox', 'Супы', 'bbq')
									+in-c('checkbox', 'Новинки', 'bbq')
									+in-c('checkbox', 'Десерты', 'bbq')
							+ddGroup()
								+ddGroupItem('Рецепты для гриля', '', '')
									+in-c('checkbox', 'Мясо', 'grill')
									+in-c('checkbox', 'Рыба', 'grill')
									+in-c('checkbox', 'Морепродукты', 'grill')
									+in-c('checkbox', 'Овощи', 'grill')
									+in-c('checkbox', 'Супы', 'grill')
									+in-c('checkbox', 'Новинки', 'grill')
									+in-c('checkbox', 'Десерты', 'grill')
							+ddGroup()
								+ddGroupItem('Рецепты для мангала', '', '')
									+in-c('checkbox', 'Мясо', 'bbq')
									+in-c('checkbox', 'Рыба', 'bbq')
									+in-c('checkbox', 'Морепродукты', 'bbq')
									+in-c('checkbox', 'Овощи', 'bbq')
									+in-c('checkbox', 'Супы', 'bbq')
									+in-c('checkbox', 'Новинки', 'bbq')
									+in-c('checkbox', 'Десерты', 'bbq')
							+ddGroup()
								+ddGroupItem('Рецепты для коптильни', '', '')
									+in-c('checkbox', 'Мясо', 'smokehouse')
									+in-c('checkbox', 'Рыба', 'smokehouse')
									+in-c('checkbox', 'Морепродукты', 'smokehouse')
									+in-c('checkbox', 'Овощи', 'smokehouse')
							+ddGroup()
								+ddGroupItem('Рецепты для тандыра', '', '')
									+in-c('checkbox', 'Мясо', 'tandoor')
									+in-c('checkbox', 'Рыба', 'tandoor')
									+in-c('checkbox', 'Морепродукты', 'tandoor')
									+in-c('checkbox', 'Овощи', 'tandoor')
							+ddGroup()
								+ddGroupItem('Рецепты для казана', '', '')
									+in-c('checkbox', 'Мясо', 'kazan')
									+in-c('checkbox', 'Рыба', 'kazan')
									+in-c('checkbox', 'Морепродукты', 'kazan')
							+ddGroup()
								+ddGroupItem('Рецепты для домашних заготовок', '', '')
									+in-c('checkbox', 'Мясо', 'homemade')
									+in-c('checkbox', 'Рыба', 'homemade')
									+in-c('checkbox', 'Морепродукты', 'homemade')
									+in-c('checkbox', 'Овощи', 'homemade')
									+in-c('checkbox', 'Супы', 'homemade')
									+in-c('checkbox', 'Новинки', 'homemade')
									+in-c('checkbox', 'Десерты', 'homemade')
							+ddGroup()
								+ddGroupItem('Рецепты напитков', '', '')
									+in-c('checkbox', 'Мясо', 'potables')
									+in-c('checkbox', 'Рыба', 'potables')
									+in-c('checkbox', 'Морепродукты', 'potables')

					.col
						+sCatalog29
		+sAlsoWatch29(false)
	+parts('footer')
      



