extends ../layout/main.pug

include ../blocks/s404/_s404.pug

block variables
	- let  mainPage= 'bg-green' 
	- let  bg= ''

block title
	- let  title= 'Страница не найдена'
	title= title
block pagecontent
	+s404
	//- +mob-mnu()
	
	




