mixin recept-step(p,img)
	+e.step.LI
		+e.step-text.P!= p
		|
		+e.img-wrap
			+img(`img/${img}.jpg`)

mixin article(header,p,img)
	+e.article
		h2= header
		p!= p
		+e.img-wrap
			+img(`img/${img}.jpg`)
			
mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			block
	// end sContent