
// start .sContent
.sContent {
	counter-reset: steps;
	&__h1 {
		@extend .h1;
		text-align: center;
		@include media-breakpoint-down(md) {
			// font-size: rem(32) !important;
			text-align: left;
			max-width: 330px;
		}
	}

	--sPT: #{rem(0)};
	--sPB: #{rem(19)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(40)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
		
	}
	.section-title{
		
	}
	&__wrap {
		margin-bottom:  rem(16);
		border-radius:  rem(8);
		overflow: hidden;
		width: 100%;
		img {
			min-width: 100%;
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__text-wrap {
		padding: rem(16);
		border-radius: rem(8);
		background: $white;
		@include media-breakpoint-up(md) {
			padding: rem(32) rem(40);
		}
	}
	&__ingredients {
		margin-bottom: 32px;
	}
	&__subtitle {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		font-family: Montserrat;
		font-weight: 600;
		line-height: 1;
		&::before {
			display: inline-block;
			content: '';
			margin-right: 8px;
			width: 24px;
			height: 24px;
			background-color: $link-hover-color;
			border-radius: 50%;
			background-image: url('../img/check.png');
			background-size: 12px 10px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__list {
		list-style-type: none;
		li {
			margin-bottom: 8px;
		}
	}
	h2 {
		margin-bottom: 34px;
		color: #000;
		font-size: rem(19);
		font-weight: 600;
	}
	&__recept-steps {
		list-style-type: none;
		padding-left: 0;
		li {
			position: relative;
			padding-top: 32px;
			margin-bottom: 34px;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				content: '';
				margin-right: 8px;
				width: 24px;
				height: 24px;
				background-color: $link-hover-color;
				border-radius: 50%;
				background-image: url('../img/check.png');
				background-size: 12px 10px;
				background-position: center;
				background-repeat: no-repeat;
			}
			&::after {
				position: absolute;
				top: 0;
				left: 32px;
				display: inline-block;
				counter-increment: steps;
				content: "Шаг " counter(steps);
				font-weight: 600;
			}
		}
	}
	&__step-text {
		margin-bottom: 8px;
		color: #000;
		font-size: 15px;
		font-weight: 500;
		line-height:160%;
	}
	&__img-wrap {
		margin: 0 auto;
		margin-bottom: rem(8);
		width: 100%;
		max-width: 852px;
		border-radius: 8px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__article {
		img {
			margin-bottom: rem(8);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(32);
			}
		}
		h2 {
			margin-bottom: 8px;
		}
	}
	&__video-wrap {
		@include block(852,480);
		margin: 0 auto;
		margin-bottom: 32px;
		width: 100%;
		max-width: 852px;
		border-radius: 8px;
		overflow: hidden;
	}
	&__video-subtitle{
		margin-bottom: 8px;
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	blockquote {
		padding: rem(24) rem(16);
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		border-radius: 8px;
		border: 1px solid $link-hover-color;
		background-image: url('../img/blockquote-bg.png');
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
		@include media-breakpoint-up(md) {
			padding: rem(24) rem(32);
			background-size: auto;
		}
	}
	&__share {
		margin-bottom: 4px;
		color: $gray-400;
		font-family: Roboto;
		font-size: 12px;
	}
	&__banner {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		min-height: rem(328);
		padding: rem(16);
		color: #fff;
		border-radius: rem(8);
		position: relative;
		overflow: hidden;
		z-index: 1;
		margin-top: rem(16);
		margin-bottom: rem(24);
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 47.50%);
			@include media-breakpoint-up(md) {
				background-image: linear-gradient(90deg, rgba(18, 18, 18, 0.39) 22.42%, rgba(54, 54, 54, 0.00) 100%);
			}
		}
		@include media-breakpoint-up(md) {
			align-items: flex-start;
			min-height: rem(376);
			padding: rem(32);
			margin-top: rem(32);
			margin-bottom: rem(48);
		}
		h1 {
			line-height: 1.14;
			margin-bottom: rem(12);
			max-width: rem(416);
			@include media-breakpoint-down(md) {
				margin-bottom: rem(8);
				font-size: rem(24);
			}
		}
		p {
			font-size: rem(15);
			max-width: rem(416);
			margin-bottom: 0;
		}
	}
	p {
		font-size: rem(15);
		line-height: 1.6;
		margin-bottom: rem(30);
	}
	.mb-40 {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	&__enumeration {
		position: relative;
		padding: rem(16) rem(22);
		border-radius: rem(8);
		background-color: #fff;
		overflow: hidden;
		z-index: 1;
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			padding: rem(32) rem(25);
			margin-bottom: rem(40);
		}
		.row {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(16)};
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(24)};
				--bs-gutter-y: #{rem(32)};
			}
		}
		.bg-img {
			position: absolute;
			left: rem(-120);
			top: rem(-248);
			z-index: -1;
		}
		h5 {
			margin-bottom: rem(24);
			@include media-breakpoint-down(md) {
				text-align: center;
			}
		}
		&-item {
			display: flex;
			align-items: center;
			flex-direction: column;
			font-size: rem(15);
			line-height: 1.6;
			text-align: center;
			@include media-breakpoint-up(md) {
				flex-direction: row;
				text-align: left;
			}
			img {
				width: 100%;
				max-width: rem(48);
				flex: 0 0 auto;
				@include media-breakpoint-up(md) {
					margin-right: rem(8);
				}
			}
		}
	}
	h5 {
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(24);
		}
		@include media-breakpoint-down(md) {
			font-size: rem(18);
		}
	}
	ul {
		list-style-type: none;
		margin-bottom: 0;
		li {
			font-size: rem(15);
			line-height: 1.6;
		}
	}
	.form-wrap {
		&__row {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(16)};
			margin-bottom: rem(32);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
		&__inputs-wrapper {
			@include roww('', '16px', 'm');
		}
		&__custom-inputs-row {
			--bs-gutter-x: #{rem(24)};
			--bs-gutter-y: #{rem(8)};

			margin-bottom: rem(24);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
		&__custom-inputs-wrap {
			@include roww('', '8px', 'm');
		}
		&__input-title {
			font-size: rem(13);
			margin-bottom: rem(8);
		}
		.custom-input {
			padding-left: rem(32);
			&__input {
				width: rem(24);
				height: rem(24);
			}
		}
		&__btn {
			display: block;
			width: 100%;
			max-width: rem(268);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(16);
		}
		&__policy {
			max-width: rem(540);
			margin-left: auto;
			margin-right: auto;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent