mixin sCatalog(horizontal)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+e.head-row.row
			.col
				.d-md-none
					+select('', 'По популярности', 'Сначала дешевые', 'Сначала дороже', 'По скидке', 'Новинки')
				+e.link-wrap.d-none.d-md-block
					+e.link.active(href='#') По популярности
					+e.link(href='#') Сначала дешевые 
					+e.link(href='#') Сначала дороже
					+e.link(href='#') По скидке
					+e.link(href='#') Новинки
			.col-auto.d-md-none
				+e.filter--js: +icon('options')
			.col-auto
				+e.btn-wrap
					if horizontal 
						+e.btn: +icon('layout-grid')
						+e.btn.active: +icon('layout-list')
					else
						+e.btn.active: +icon('layout-grid')
						+e.btn: +icon('layout-list')
		+e.row.row
			if horizontal 
				.col-12
					+cardHorizontal('card-13.png', '5 850 ₽', 'Гриль угольный BestPicnic Barbeque 47, 55х47.5х86 см', false, true, true)
				.col-12
					+cardHorizontal('card-14.png', '17 890 ₽', 'Гриль-мангал с полками и крышкой барбекю Gratar Family Standart BBQ FSB 2000', false, true, true)
				.col-12
					+cardHorizontal('card-15.png', '81 000 ₽', 'Уличная кухня с мойкой AL-F VK14 - кухонный гарнитур для дачи и сада', 'bg', true, true)
				.col-12
					+cardHorizontal('card-16.png', '41 536 ₽', 'Уличная кухня. Кухня с мойкой и столешницей VERANDA 0802, нержавейка, для дачи, для балкона, для дома. 172x58 см, из 2 модулей', 'bg', true, true)
				.col-12
					+cardHorizontal('card-17.png', '79 190 ₽', 'Кедровая фитобочка полулежачая "Овальная люкс" 115*78*140*4 см', false, true, true)
				.col-12
					+cardHorizontal('card-18.png', '53 375 ₽', 'Купель из полипропилена круглая', 'bg', true, true)
				.col-12
					+cardHorizontal('card-19.png', '204 900 ₽', 'Банный чан елисей силович 4 человека на опоре с печью', 'bg', true, true)
				.col-12
					+cardHorizontal('card-20.png', '54 900 ₽', 'КУРрорт Курятник (Макси модель, true) Коричневый Правосторонний', false, true, true)
				.col-12
					+cardHorizontal('card-21.png', '14 580 ₽', 'Теплица Рязаночка3х6 (каркас, true)', false, true, true)
				.col-12
					+cardHorizontal('card-22.png', '22 812 ₽', 'Будка для собак Ferplast Argo 100 114.5х73х81 см коричневый', false, true, true)
				.col-12
					+cardHorizontal('card-23.png', '5 399 ₽', 'Парник каркасный с пленкой ПВХ 270 см * 120см*90см.', false, true, true)
				.col-12
					+cardHorizontal('card-24.png', '11 399 ₽', 'Каркас теплицы Благо 1,5х1,5х2 м с тентом из армированной пленки', 'bg', true, true)
				.col-12
					+cardHorizontal('card-25.png', '175 300 ₽', 'Уличная кухня AL-F VK10 островок - кухонный гарнитур для дачи и сада', 'bg', true, true)
				.col-12
					+cardHorizontal('card-26.png', '31 132 ₽', 'Комплект беседки CubeIT!', 'bg', true, true)
				.col-12
					+cardHorizontal('card-27.png', '32 200 ₽', 'Комплект металлических крепежей для возведения террасы из бруса', 'bg', true, true)
				.col-12
					+cardHorizontal('card-28.png', '26 640 ₽', 'Комплект крепежей для сборки беседки или перголы CUBE+', false, true, true)
				.col-12
					+cardHorizontal('card-29.png', '16 920 ₽', 'Комплект крепежей для сборки беседки или перголы TERRACE+', false, true, true)
				.col-12
					+cardHorizontal('card-30.png', '499 000 ₽', 'Каркасная баня под ключ', 'bg', true, true)
				.col-12
					+cardHorizontal('card-31.png', '93 561 ₽', 'Комплектдля возведения хозблока', 'bg', true, true)
				.col-12
					+cardHorizontal('card-32.png', '84 188 ₽', 'Комплект парковочного навеса', 'bg', true, true)
			else
				.col-6.col-md-3
					+card('card-13.png', '5 850 ₽', 'Гриль угольный BestPicnic Barbeque 47, 55х47.5х86 см', false, true, true)
				.col-6.col-md-3
					+card('card-14.png', '17 890 ₽', 'Гриль-мангал с полками и крышкой барбекю Gratar Family Standart BBQ FSB 2000', false, true)
				.col-6.col-md-3
					+card('card-15.png', '81 000 ₽', 'Уличная кухня с мойкой AL-F VK14 - кухонный гарнитур для дачи и сада', 'bg', true)
				.col-6.col-md-3
					+card('card-16.png', '41 536 ₽', 'Уличная кухня. Кухня с мойкой и столешницей VERANDA 0802, нержавейка, для дачи, для балкона, для дома. 172x58 см, из 2 модулей', 'bg', true)
				.col-6.col-md-3
					+card('card-17.png', '79 190 ₽', 'Кедровая фитобочка полулежачая "Овальная люкс" 115*78*140*4 см', false, true)
				.col-6.col-md-3
					+card('card-18.png', '53 375 ₽', 'Купель из полипропилена круглая', 'bg', true)
				.col-6.col-md-3
					+card('card-19.png', '204 900 ₽', 'Банный чан елисей силович 4 человека на опоре с печью', 'bg', true)
				.col-6.col-md-3
					+card('card-20.png', '54 900 ₽', 'КУРрорт Курятник (Макси модель) Коричневый Правосторонний', false, true)
				.col-6.col-md-3
					+card('card-21.png', '14 580 ₽', 'Теплица Рязаночка3х6 (каркас)', false, true)
				.col-6.col-md-3
					+card('card-22.png', '22 812 ₽', 'Будка для собак Ferplast Argo 100 114.5х73х81 см коричневый', false, true)
				.col-6.col-md-3
					+card('card-23.png', '5 399 ₽', 'Парник каркасный с пленкой ПВХ 270 см * 120см*90см.', false, true)
				.col-6.col-md-3
					+card('card-24.png', '11 399 ₽', 'Каркас теплицы Благо 1,5х1,5х2 м с тентом из армированной пленки', 'bg', true)
				.col-6.col-md-3
					+card('card-25.png', '175 300 ₽', 'Уличная кухня AL-F VK10 островок - кухонный гарнитур для дачи и сада', 'bg', true)
				.col-6.col-md-3
					+card('card-26.png', '31 132 ₽', 'Комплект беседки CubeIT!', 'bg', true)
				.col-6.col-md-3
					+card('card-27.png', '32 200 ₽', 'Комплект металлических крепежей для возведения террасы из бруса', 'bg', true)
				.col-6.col-md-3
					+card('card-28.png', '26 640 ₽', 'Комплект крепежей для сборки беседки или перголы CUBE+', false, true)
				.col-6.col-md-3
					+card('card-29.png', '16 920 ₽', 'Комплект крепежей для сборки беседки или перголы TERRACE+', false, true)
				.col-6.col-md-3
					+card('card-30.png', '499 000 ₽', 'Каркасная баня под ключ', 'bg', true)
				.col-6.col-md-3
					+card('card-31.png', '93 561 ₽', 'Комплектдля возведения хозблока', 'bg', true)
				.col-6.col-md-3
					+card('card-32.png', '84 188 ₽', 'Комплект парковочного навеса', 'bg', true)
		+e.show-more-btn.btn.btn-outline-primary(href='#') Показать еще
		+pugin()

	// end sCatalog

mixin sCatalog29(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+e.head-row.row
			.col.d-md-none
				.sCatalog__filter-btn.sCatalog__filter--js
					+e.filter-title Фильтр
					+e.recipe-filter: +icon('options')
		+e.head-row.row
			+sBanners29()
		+e.row.row
			.col-6.col-md-3
				+recipe-card('recipe-img-1.jpg', 'Польза и вред яблок: как правильно выбрать и сколько можно съесть', 'Врач объяснила, почему не стоит есть яблоки вместе с косточками и в каких случаях всеми любимый фрукт может стать опасным.')
			.col-6.col-md-3
				+recipe-card('recipe-img-2.jpg', '35 растений, которые прогонят вредителей + рецепты настоев и отваров', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-3.jpg', 'Что можно приготовить из сорняков – 23 рецепта вкусных и полезных блюд', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-4.jpg', 'Чем опрыскать виноград от болезней и вредителей летом: биопрепараты и народные средства', 'Гренки из батона с молоком на сковороде - блюдо универсальное.')
			.col-6.col-md-3
				+recipe-card('recipe-img-5.jpg', 'Что делать с усами клубники – обрезать или оставлять для размножения?', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-6.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-7.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-8.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-9.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-10.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-11.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-12.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-1.jpg', 'Салат из редиса, огурца и феты', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-2.jpg', 'Маринованные перцы и огурцы для пикника', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-3.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-4.jpg', 'Гренки из батона с молоком на сковороде', 'Гренки из батона с молоком на сковороде - блюдо универсальное.')
			.col-6.col-md-3
				+recipe-card('recipe-img-5.jpg', 'Салат греческий классический', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-6.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-7.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-8.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-9.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-10.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-11.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('recipe-img-12.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
		.sBestsellers__btn.btn.btn-sm.btn-light(href='#') Показать еще
		
mixin sCatalog29enc(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+e.head-row.row
			.col.d-md-none
				.sCatalog__filter-btn.sCatalog__filter--js
					+e.filter-title Фильтр
					+e.recipe-filter: +icon('options')
		+e.head-row.row
			+sBanners29enc
		+e.row.row
			.col-6.col-md-3
				+recipe-card('enc-1.jpg', 'Салат из редиса, огурца и феты', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-2.jpg', 'Маринованные перцы и огурцы для пикника', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-3.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-4.jpg', 'Гренки из батона с молоком на сковороде', 'Гренки из батона с молоком на сковороде - блюдо универсальное.')
			.col-6.col-md-3
				+recipe-card('enc-5.jpg', 'Салат греческий классический', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-6.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-7.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-8.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-9.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-10.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-11.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-12.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-1.jpg', 'Салат из редиса, огурца и феты', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-2.jpg', 'Маринованные перцы и огурцы для пикника', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-3.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-4.jpg', 'Гренки из батона с молоком на сковороде', 'Гренки из батона с молоком на сковороде - блюдо универсальное.')
			.col-6.col-md-3
				+recipe-card('enc-5.jpg', 'Салат греческий классический', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-6.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-7.jpg', 'Салат с сыром, щавелем, ягодами и помидорами', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-8.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-9.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-10.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-11.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
			.col-6.col-md-3
				+recipe-card('enc-12.jpg', 'Киноа с печеными овощами и козьим сыром', 'Хорошо добавить в такой салат яйцо, или кусочки рыбы, скажем консервированного тунца, или')
		.sBestsellers__btn.btn.btn-sm.btn-light(href='#') Показать еще

	// end sCatalog