mixin sVacancyBlock(data)
	// start sVacancyBlock
	+b.SECTION.sVacancyBlock.section#sVacancyBlock&attributes(attributes)
		.container
			+e.wrap
				.tabs(data-aos="fade-up" data-aos-duration="400")
					.tabs__caption.swiper.freemode-slider--js
						.swiper-wrapper
							.tabs__btn.swiper-slide.active Москва
							.tabs__btn.swiper-slide Смоленск
							.tabs__btn.swiper-slide Все города
					mixin ddGroup2(title, price, num, text='Требуемый опыт работы: 1-3 года')
						+b.dd-group.dd-group-js
							+e.item
								+e.head
									div.me-auto
										.h6!=title
										p!= text
										+e.price!= price
									+e.city
										+icon('map-pin')
										| Москва
								+e.show-more.dd-head-js
									span.show Узнать больше
									span.hide Свернуть
									+icon('chevron-down')
								+e.content.dd-content-js.active
									+e.list 
										.h6 Обязанности
										ul
											li Расчет материалов по&nbsp;этапам отделки, подготовка проектов ( сборник из&nbsp;узлов и&nbsp;проектов ЭОМ, ОВВК, ЭП);
											li Раскладка финишных материалов по&nbsp;помещениям ( вагонка, имитация бруса), расчет материалов для установки окон;
											li Подсчет объёмов работ, материалов, занесение в&nbsp;1С.
									+e.list 
										.h6 Требования
										ul
											li Высшее строительное образование;
											li Знание MS Office, AutoCAD, Archicad.
											li Исполнительность, пунктуальность, ответственность, стрессоустойчивость, не&nbsp;конфликтность, умение работать в&nbsp;команде.
									+e.list 
										.h6 Условия
										ul
											li Расчет материалов по&nbsp;этапам отделки, подготовка проектов ( сборник из&nbsp;узлов и&nbsp;проектов ЭОМ, ОВВК, ЭП);
											li Раскладка финишных материалов по&nbsp;помещениям ( вагонка, имитация бруса), расчет материалов для установки окон;
											li Подсчет объёмов работ, материалов, занесение в&nbsp;1С.
									+e.btn.btn.btn-primary(href='#' data-fancybox=`send-resume=${num}` data-src='#modal-resume') Отправить резюме
					.tabs__content.active
						+e.item
							+ddGroup2('Сборщик-комплектовщик (пиломатериалы)', 'от 40 000 ₽',1)
						+e.item
							+ddGroup2('Инженер ПТО', 'от 60 000 ₽',2)
						+e.item
							+ddGroup2('Заместитель руководителя склада', 'от 40 000 ₽',3)
					.tabs__content
						+e.item
							+ddGroup2('Сборщик-комплектовщик (пиломатериалы)', 'от 40 000 ₽',4)
						+e.item
							+ddGroup2('Инженер ПТО', 'от 60 000 ₽',5)
						+e.item
							+ddGroup2('Заместитель руководителя склада', 'от 40 000 ₽',6)
					.tabs__content
						+e.item
							+ddGroup2('Сборщик-комплектовщик (пиломатериалы)', 'от 40 000 ₽',7)
						+e.item
							+ddGroup2('Инженер ПТО', 'от 60 000 ₽',8)
						+e.item
							+ddGroup2('Заместитель руководителя склада', 'от 40 000 ₽',9)
	// end sVacancyBlock