.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		
		flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(16) calc(var(--bs-gutter-x) / 2);
	}
}



.toggle-menu-mobile {
	--h: 2px;
	--color: #{$primary};
	--position: calc(var(--h) * 2);
	// --position: 0;
	&.on span {
		span{
			background-color: transparent;
		}
		// --color: transparent;
	}
	
	&.on  { 
		// --position: calc(var(--h) * 5);
		--position:0;
		// --position: 1; 
		--rotate: 45deg;
	}
	display: block;
	height: 24px;
	position: relative;  
	width: 24px;
	cursor: pointer; 
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		border-radius: 10px;
	} 
	span {
		@include a-cent();
		display: block;
		height: var(--h);
		width: 14px;
	 
	}

	span:before { 
		bottom: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}
	
	span:after {
		top: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
 
	span:after,
	span:before {
		// width: 32px;
		width: 14px;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
@include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: -1;
		// max-width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		padding-top: 104px;
		
		top: 0;	// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(0, -120%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;
 
		&__inner {
			// padding: rem(20) 0;
			padding-bottom: 20px;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;
				// font-size: 12px;
				padding: 16px 0;
				display: block;
				font-weight: 600;
				font-size: 16px;
				position: relative;
				z-index: 2;
				&::before{
					content: '';
					position: absolute;
					z-index: -1;
					width: 200vw;
					left: -50vw;
					top: 0;
					bottom: 0; 
					height: 100%;
					border-bottom: 1px solid #DFDFDF;
					// box-sizing: border-box;
					// box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
	
				}
			}
		}
	}
}