mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row
				.col-md-auto.d-none.d-lg-block
					+e.logo(href='#'): +iconC('logo2')
				.col-auto.d-none.d-lg-block
					+b.catalog-toggle.catalog-toggle-js
						//- +icon("menu-toggle")
						+e.toggle-icon
							span
						+e.title Каталог

				.col-lg
					+b.searchBlock-wrap--js
						+searchBlock()
				.col-lg-auto.d-none.d-md-block
					+topBtns()
		+b.catalog-menu--js
			.container 
				.row 
					+e.col.col
						+e.all-products(href='#')
							+icon('rus')
							| Все товары
							+e.icon-wrap: +icon('chevron-right')
						+e.first-level-catalog
							ul
								li
									a(href="#")
										+iconC('catalog-icon-1')
										| Дачные постройки и конструкции
										+e.icon-wrap: +icon('chevron-right')
					+e.content-col.col
						.h5 Садовая мебель, качели и мебель для бани
						ul

	// end top-nav