.soc {
  @include roww(16px, m);
  display: flex;
  &__item {
    text-decoration: none !important;
    vertical-align: middle;
    @include mt;
    display: grid;
    place-items: center;
    &:hover {
      // box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
      // opacity: .6 ;
    }
  }
  .icon {
    font-size: rem(24);
    color: var(--color);
  }
}

.share-soc {
  display: flex;
  list-style-type: none;
  li {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: $border-radius-sm;
    &--telegram {
      background-color: #1da1f2;
    }
    &--vk {
      background-color: #4680c2;
    }
    &--whatsapp {
      background-color: #2db10f;
    }
  }
  .icon {
    font-size: rem(24);
    color: $white;
  }
}

.counter {
  counter-reset: num;
  &__item {
    position: relative;
    &::before {
      content: counter(num);
      counter-increment: num;
    }
  }
}

.addBlock {
  color: var(--color, #{$body-color});
  border: none;
  border-radius: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: rem(70);
  input {
    color: inherit;
    text-align: center;
    border: none;
    height: rem(24);
    @include media-breakpoint-up(md) {
      min-width: rem(40);
    }
    min-width: rem(80);
    width: 100%;
    font-weight: 500;
    color: $body-color;
  }
  &__btn {
    color: inherit;
    height: rem(24);
    position: relative;
    border-radius: 0;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent;
    // padding-left: rem(8);
    // padding-right: rem(8);
    width: rem(16);
    padding: 0;
    flex: 0 0 auto;
    &:hover {
      color: $primary;
    }
    &::before,
    &::after {
      content: '';
      width: 11px;
      height: 1px;
      background-color: currentColor;
      @include a-cent;
      position: absolute;
    }
    &--plus::after {
      transform: rotate(90deg);
    }
  }
}

.search-block {
  position: relative;
  input {
    font-size: rem(14);
    width: 100%;
    outline: none !important;
    padding-left: rem(8);
    padding-top: rem(8.5);
    padding-bottom: rem(8.5);
    padding-right: rem(40);
    border-radius: 8px;
    border: rem(1) solid $primary;
    color: $body-color;
    font-weight: 500;
    &::placeholder {
      color: $gray-700;
    }
  }
  .icon {
    font-size: rem(20);
    fill: none;
    stroke: currentColor;
    stroke-width: rem(2);
  }
  button {
    --bs-btn-padding-x: #{rem(5)};
    --bs-btn-padding-y: #{rem(5)};
    --bs-btn-border-radius: #{rem(4)};

    position: absolute;
    right: rem(4);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-btns {
  @include media-breakpoint-up(md) {
    position: relative;
  }
  @include media-breakpoint-down(md) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid $gray-300;
    padding: rem(7.5) rem(8);
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.12);
    z-index: 3000;
  }
  &__wrap {
    @include roww('10px', '', 'm');
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      --bs-gutter-x: #{rem(22)};
    }
  }
  &__icon {
    display: inline;
    position: relative;
  }
  &__btn {
    position: relative;
    font-size: rem(13);
    font-weight: 600;
    line-height: 1.23;
    color: $body-color;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      width: calc(100% / 5);
      flex-direction: column;
      font-size: rem(10);
      line-height: 1.6;
      // .iсon {
      //   flex: 0 0 auto;
      // }
    }
    &:hover {
      color: $primary;
    }
    .icon {
      font-size: rem(24);
      fill: none;
      stroke: currentColor;
      stroke-width: rem(2);
      flex: 0 0 auto;
      @include media-breakpoint-up(md) {
        font-size: rem(20);
      }
      &-menu,
      &-catalog,
      &-close {
        fill: currentColor;
        stroke: none;
        stroke-width: 0;
      }
      &-profile {
        font-size: rem(20);
      }
    }
    .iconC-profile {
      font-size: rem(24);
      flex: 0 0 auto;
      @include media-breakpoint-up(md) {
        font-size: rem(21);
      }
    }
    .iconC-shopping-cart {
      --h: 24;
      font-size: calc(var(--h) / 15 * 1rem);
      width: calc(24 / var(--h) * 1em);
    }
    span {
      @include media-breakpoint-up(md) {
        margin-left: rem(6);
      }
    }
    .badge {
      &-orange {
        --bs-badge-padding-y: #{rem(3.5)};
        --bs-badge-padding-x: #{rem(5.5)};
        --bs-badge-font-size: #{rem(9)};

        position: absolute;
        top: rem(-4);
        right: rem(-9);
        @include media-breakpoint-up(md) {
          top: rem(-8);
        }
      }
    }
    .catalog-toggle__toggle-icon {
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
      span {
        background-color: $body-color;
        &::before,
        &:after {
          background-color: $body-color;
        }
      }
    }
    &.catalog-toggle-js {
      &.active {
        span {
          color: #6e9545;
        }
        .catalog-toggle__toggle-icon {
          span {
            background-color: transparent;
            &::before {
              transform: rotate(45deg);
              top: 0;
              background-color: #6e9545;
            }
            &::after {
              transform: rotate(-45deg);
              bottom: 0;
              background-color: #6e9545;
            }
          }
        }
      }
    }
    &--profile-js {
      .icon {
        &-close {
          display: none;
        }
      }
      @include media-breakpoint-up(md) {
        &:hover {
          & ~ .profile-menu {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
      @include media-breakpoint-down(md) {
        &.active {
          .iconC-profile {
            display: none;
          }
          .icon {
            &-profile {
              display: none;
            }
            &-close {
              display: inline-block;
              color: $btn-link-hover-color;
            }
          }
          span {
            color: $btn-link-hover-color;
          }
        }
      }
    }
  }
}

.badge {
  &-orange {
    background-color: #ff8b49;
  }
  &-gray {
    background-color: $gray-400;
  }
}

.main-page-nav {
  padding: rem(11.5) 0;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  .row {
    justify-content: space-between;
  }
  a {
    font-size: rem(13);
    line-height: 1.23;
    color: #000;
    &:hover {
      color: #6e9545;
    }
    span {
      color: #ff8b49;
      margin-right: rem(4);
    }
  }
}

.default-swiper {
  --swiperGutter: #{rem(8)};
  --sliderCount: 1;

  position: relative;
  @media screen and (min-width: 360px) {
    --sliderCount: 2;
  }
  @include media-breakpoint-up(md) {
    --swiperGutter: #{rem(12)};
    --sliderCount: 4;
  }
  .swiper {
    margin-right: calc(var(--swiperGutter) * -1);
    @include media-breakpoint-down(md) {
      overflow: visible;
    }
  }
  &__slide {
    margin-right: var(--swiperGutter);
    max-width: calc(100% / var(--sliderCount) - var(--swiperGutter));
    height: auto;
  }
}

.swiper-button-hand {
  --swiperColorDef: #{$body-color};
  --swiperArrowPosition: #{rem(-39.857)};
  --swiperColorDefHover: #6e9545;
  width: rem(32);
  height: rem(52);
  border: none;
  border-radius: rem(14);
  padding: rem(14) rem(4);
  box-shadow: none;
  .icon {
    font-size: rem(24);
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: rem(8);
  overflow: hidden;
  height: 100%;
  position: relative;
  border: 1px solid $gray-300;
  // @include media-breakpoint-down(md) {
  //   border: 1px solid $gray-300;
  // }
  .badge {
    position: absolute;
    top: rem(8);
    left: rem(8);
    z-index: 1;
  }
  &__img-wrap {
    @include block(281, 158);
    width: 100%;
    background-color: #fff;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      @include mt;
      @include media-breakpoint-down(md) {
        border-radius: 0 0 rem(8) rem(8);
      }
    }
  }
  &__content {
    position: relative;
    background-color: #fff;
    padding: rem(4) rem(8) rem(8);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      padding: rem(16) rem(12) rem(20);
    }
  }
  &__text {
    font-size: rem(13);
    line-height: 1.23;
    margin-bottom: auto;
    // margin-bottom: rem(6);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: $body-color;
    &:hover {
      color: #6e9545;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  &__price {
    font-size: rem(16);
    font-weight: 600;
    line-height: 1.26;
    margin-bottom: rem(4);
    @include media-breakpoint-up(md) {
      font-size: rem(19);
    }
  }
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
    display: -webkit-box;
    color: $gray-900;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    line-height: 125%;
  }
  &__descr {
    font-size: rem(13);
    line-height: 1.23;
    margin-bottom: rem(6);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: $body-color;
    &:hover {
      color: #6e9545;
    }
  }
  &__create {
    margin-top: rem(6);
    font-size: rem(10);
    font-weight: 600;
    line-height: 1.6;
  }
  &__review-wrap {
    margin-top: rem(8);
    display: flex;
    align-items: center;
    margin-bottom: rem(8);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(13);
    }
    span {
      font-size: rem(10);
      font-weight: 600;
      color: $gray-700;
      line-height: 1;
      margin-left: rem(8);
      // margin-left: auto;
      // @include media-breakpoint-up(md) {
      //   margin-left: rem(8);
      // }
    }
  }
  &__btn {
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: rem(161);
    }
    .icon {
      fill: none;
      stroke: currentColor;
      stroke-width: rem(2);
      font-size: rem(16);
    }
  }
  &__footer-row {
    --bs-gutter-x: #{rem(10)};
    align-items: center;
    position: relative;
    z-index: 2;
    .addBlock {
      @include media-breakpoint-down(sm) {
        button {
          width: 16px;
        }
        input {
          min-width: 2.144444rem !important;
        }
      }
    }
  }
  &__like {
    width: rem(20);
    height: rem(20);
    position: absolute;
    color: #df331b;
    top: rem(8);
    right: rem(8);
    z-index: 10;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2893 4.82248L10.0109 5.57463L10.7325 4.82248L11.6633 3.85233C13.1513 2.30132 15.546 2.30132 17.034 3.85233C18.5444 5.4267 18.5444 7.99575 17.034 9.57012L10.0125 16.8889L9.98921 16.8646L9.98762 16.8662L2.96632 9.54772C1.45589 7.97335 1.45589 5.40429 2.96632 3.82992C4.45434 2.27891 6.84904 2.27891 8.33705 3.82992L9.2893 4.82248Z' fill='white' stroke='%23292929' stroke-width='2'/%3E%3Cpath d='M9.6501 4.47633L10.0109 4.8524L10.3717 4.47633L11.3025 3.50617C12.9873 1.75003 15.71 1.75003 17.3948 3.50617C19.0908 5.274 19.0908 8.14845 17.3948 9.91627L10.0125 17.6111L9.98931 17.5869L9.98773 17.5886L2.60552 9.89387C0.90949 8.12605 0.909489 5.25159 2.60552 3.48377C4.29034 1.72763 7.01304 1.72763 8.69786 3.48377L9.6501 4.47633Z' stroke='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    @include media-breakpoint-up(md) {
      top: rem(16);
      right: rem(16);
    }
    .icon {
      font-size: rem(20);
    }
    &:hover,
    &.active {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.28906 4.82248L10.0107 5.57463L10.7323 4.82248L11.663 3.85233C13.151 2.30132 15.5457 2.30132 17.0338 3.85233C18.5442 5.4267 18.5442 7.99575 17.0338 9.57012L10.0123 16.8889L9.98897 16.8646L9.98738 16.8662L2.96608 9.54772C1.45564 7.97335 1.45564 5.40429 2.96608 3.82992C4.45409 2.27891 6.84879 2.27891 8.33681 3.82992L9.28906 4.82248Z' fill='%23DF331B' stroke='%23DF331B' stroke-width='2'/%3E%3Cpath d='M9.64986 4.47633L10.0107 4.8524L10.3715 4.47633L11.3022 3.50617C12.987 1.75003 15.7097 1.75003 17.3946 3.50617C19.0906 5.274 19.0906 8.14845 17.3946 9.91627L10.0122 17.6111L9.98907 17.5869L9.98749 17.5886L2.60527 9.89387C0.909245 8.12605 0.909245 5.25159 2.60527 3.48377C4.29009 1.72763 7.01279 1.72763 8.69762 3.48377L9.64986 4.47633Z' stroke='white'/%3E%3C/svg%3E%0A");
    }
  }
  &.similar {
    .badge {
      --bs-badge-padding-y: #{rem(5.5)};
      top: rem(16);
      left: rem(16);
      opacity: 1;
    }
    .card {
      &__img-wrap,
      &__price,
      &__create,
      &__review-wrap {
        opacity: 0.5;
      }
      &__text {
        pointer-events: none;
        opacity: 0.5;
        &:before {
          content: unset;
        }
      }
      &__img-wrap {
        pointer-events: none;
      }
      &__content {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &__btn {
        max-width: 100%;
        --bs-btn-border-color: #{$body-color};
      }
    }
  }
  &--horizontal {
    padding: rem(8);
    flex-direction: row;
    align-items: flex-start;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      padding: rem(16);
    }
    .badge {
      @include media-breakpoint-down(md) {
        top: rem(8);
        left: rem(98);
      }
    }
    .card {
      &__img-wrap {
        --ratio: 1/1;
        max-width: rem(80);
        border: 1px solid $gray-300;
        border-radius: rem(8);
        overflow: hidden;
        flex: 0 0 auto;
        @include media-breakpoint-up(md) {
          max-width: rem(120);
        }
      }
      &__content {
        position: relative;
        padding: rem(28) 0 0 rem(10);
        height: 100%;
        @include media-breakpoint-up(md) {
          padding: 0 0 0 rem(16);
        }
      }
      &__text {
        font-size: rem(16);
        font-weight: 600;
        @include media-breakpoint-up(md) {
          padding-right: rem(132);
          max-width: rem(521);
        }
      }
      &__price {
        font-size: rem(18);
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
          position: absolute;
          top: 0;
          right: 0;
          font-size: rem(24);
        }
      }
      &__create {
        // margin-top: rem(8);
        margin-bottom: rem(7);
        @include media-breakpoint-up(md) {
          margin-bottom: auto;
          margin-top: 0;
        }
      }
      &__text {
        //
        &:before {
          content: unset;
        }
      }
      &__review-wrap {
        margin-bottom: 0;
      }
      &__content-row {
        --bs-gutter-x: #{rem(7)};
        --bs-gutter-y: #{rem(7)};

        align-items: center;
      }
      &__btn {
        --bs-btn-padding-x: #{rem(16)};
        width: 100%;
      }
    }
    .stars {
      .icon {
        font-size: rem(16);
      }
    }
    .addBlock {
      background-color: $gray-200;
      max-width: rem(94);
      border-radius: rem(4);
      @include media-breakpoint-up(md) {
        max-width: rem(108);
        margin-left: 0;
      }
      input {
        background-color: $gray-200;
        height: rem(32);
        min-width: 20px;
        @include media-breakpoint-up(md) {
          height: rem(32);
        }
      }
      &__btn {
        width: rem(31);
        height: rem(32);
        flex: none;
        @include media-breakpoint-up(md) {
          height: rem(32);
        }
      }
    }
  }
  &--order {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto auto;
    gap: 16px;
    @include media-breakpoint-up(md) {
      grid-template-columns: 120px auto 224px;
      grid-template-rows: auto auto;
    }
    .badge {
      position: static;
      margin-bottom: 4px;
      @include media-breakpoint-up(md) {
        position: absolute;
      }
    }
    .card__img-wrap {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @include media-breakpoint-up(md) {
        grid-row: 1 / 3;
      }
    }
    .card__text-wrap {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      @include media-breakpoint-up(md) {
        grid-row: 1 / 3;
      }
    }
    .card__create {
      margin-bottom: rem(8);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(40);
      }
    }
    .card__price {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      @include media-breakpoint-up(md) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }
    .card__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      @include media-breakpoint-up(md) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
    }
    .card__buttons .addBlock {
      margin-right: 8px;
    }
    .card__buttons .addBlock,
    .card__buttons .card__btn {
      width: 100%;
      max-width: none;
      @include media-breakpoint-up(md) {
        width: 108px;
        height: 32px;
      }
    }
    .addBlock .addBlock__btn {
      height: 32px;
      width: 33%;
      @include media-breakpoint-up(md) {
        width: 36px;
      }
    }
    .card__buttons .addBlock input {
      height: 32px;
      width: 33%;
      @include media-breakpoint-up(md) {
        width: 36px;
      }
    }
    .card__review-wrap span {
      margin-left: 8px;
    }
  }
}

.stars {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  .icon {
    font-size: rem(8);
    color: $gray-300;
    &:not(:last-child) {
      margin-right: rem(2);
    }
    @include media-breakpoint-up(md) {
      font-size: rem(16);
    }
  }
  @for $i from 1 through 5 {
    &[data-rating='#{$i}'] {
      .icon {
        &:nth-child(-n + #{$i}) {
          color: #f98442;
        }
      }
    }
  }
}

.encyclopedia-item {
  @include block(1.5, 1);
  border-radius: rem(8);
  overflow: hidden;
  color: #fff;
  &:before {
    background-image: linear-gradient(180deg, rgba(176, 135, 98, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
  @include media-breakpoint-up(md) {
    --ratio: 206/384;
  }
  .h6 {
    font-size: rem(10);
    margin-bottom: 0;
    position: absolute;
    left: rem(6);
    bottom: rem(16);
    max-width: calc(100% - rem(12));
    @include media-breakpoint-up(md) {
      font-size: rem(20);
      left: rem(18);
      bottom: rem(15);
      max-width: calc(100% - rem(36));
    }
  }
}

.text-block {
  padding-top: rem(12);
  padding-bottom: rem(23);
  @include media-breakpoint-up(md) {
    padding-top: rem(13);
    padding-bottom: rem(39.5);
  }
  &__wrap {
    max-height: rem(100);
    overflow: hidden;
    position: relative;
    margin-bottom: rem(10);
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      left: 0;
      top: 0;
    }
    p {
      margin-bottom: 0;
      font-size: rem(15);
      line-height: 1.6;
    }
    &.active {
      max-height: none;
      &:after {
        opacity: 0;
      }
    }
  }
  &__show-more {
    @include mt;
    display: flex;
    align-items: center;
    max-width: max-content;
    font-size: rem(11);
    line-height: 1.45;
    color: #cd6e39;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      font-size: rem(13);
    }
    &:hover {
      color: $primary;
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    .icon {
      font-size: rem(16);
      flex: 0 0 auto;
      margin-left: rem(4);
      @include mt;
    }
    &.active {
      .show {
        display: none;
      }
      .hide {
        display: block;
      }
      .icon {
        transform: rotateX(180deg);
      }
    }
  }
}

.seen-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: rem(4);
  border: 1px solid $gray-400;
  height: 100%;
  padding: rem(8) rem(10);
  background-color: #fff;
  &:not(:hover) {
    color: $body-color;
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding: rem(8);
  }
  &__img-wrap {
    @include block(110, 62);
    width: 100%;
    max-width: rem(88);
    // flex: 0 0 auto;
    margin-bottom: rem(4);
    flex: 0 0 auto;
    border-radius: rem(8);
    overflow: hidden;
    @include media-breakpoint-up(md) {
      margin-right: rem(8);
      margin-bottom: 0;
      max-width: rem(110);
    }
  }
  p {
    margin-bottom: 0;
    font-size: rem(10);
    font-weight: 600;
    line-height: 1.23;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: rem(13);
      text-align: left;
    }
  }
}

.page-head {
  &__breadcrumb {
    padding: rem(8) 0;
    background-color: transparent;
    @include media-breakpoint-up(md) {
      background-color: #fff;
    }
    .swiper {
      overflow: visible;
    }
  }
  .breadcrumb {
    flex-wrap: nowrap;
    &-item {
      width: auto;
      // margin-right: rem(32);
      max-width: rem(400);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .breadcrumb-item + .breadcrumb-item:before {
      width: rem(16);
      height: rem(16);
      text-align: center;
    }
  }
  h1 {
    padding: rem(16) 0;
    line-height: 1.33;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      font-size: rem(19);
      padding: rem(16) 0;
    }
    span {
      font-size: rem(15);
      color: $gray-700;
      display: block;
      font-weight: 500;
      margin-top: rem(8);
      @include media-breakpoint-up(md) {
        margin-left: rem(8);
        display: inline;
        margin-top: 0;
      }
    }
  }
}

.block-with-aside {
  padding-top: rem(8);
  padding-bottom: rem(8);
  @include media-breakpoint-up(md) {
    padding-top: rem(16);
    padding-bottom: rem(24.5);
  }
  &__row {
    --bs-gutter-x: #{rem(52)};
  }
  &__col-auto {
    max-width: calc(rem(264) + var(--bs-gutter-x));
    @include media-breakpoint-down(md) {
      padding: 0;
      margin: 0;
    }
  }
  .h6 {
    font-size: rem(19);
    line-height: 1.26;
    margin-bottom: rem(20);
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: rem(24);
    }
    p {
      font-weight: 600;
      line-height: 1.25;
      // margin-bottom: rem(8);
      margin-bottom: 0;
    }
    a {
      position: relative;
      display: block;
      max-width: max-content;
      font-size: rem(13);
      line-height: 1.23;
      margin-top: rem(8);
      color: $gray-700;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      &:hover {
        color: $link-hover-color;
        transform: translateX(rem(15));
        &::before {
          left: rem(-15);
        }
      }
    }
  }
  &--2 {
    padding-top: rem(16);
    @include media-breakpoint-up(md) {
      padding-top: rem(40);
    }
    .block-with-aside__row {
      --bs-gutter-x: #{rem(36)};
    }
    .block-with-aside__col-auto {
      max-width: rem(264);
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
  &__col--refund {
    .section-title {
      margin-bottom: rem(24);
      @include media-breakpoint-down(md) {
        padding-top: 24px;
      }
    }
    h2 {
      margin-bottom: rem(24);
    }
    p {
      margin-bottom: rem(24);
      font-weight: 500;
      line-height: 150%;
      text-align: justify;
    }
  }
  &__slider {
    --swiperGutter: 7px;
    margin-bottom: 28px;
    width: 100%;
    position: relative;
    padding: rem(20) 0;
    margin: rem(-20) 0;
    @include media-breakpoint-up(md) {
      max-width: calc(100% - 64px);
      margin-left: auto;
      margin-right: auto;
      --swiperGutter: 16px;
    }
    .swiper {
      margin-right: calc(var(--swiperGutter) * -1);
      overflow: visible;
      padding-bottom: rem(30);
      @include media-breakpoint-up(md) {
        overflow: hidden;
      }
    }
    .swiper-button-hand {
      // -36.526
      --swiperArrowPosition: -32.5px;

      background-color: transparent;
      @include media-breakpoint-down(md) {
        display: none;
      }
      @include media-breakpoint-up(md) {
        top: rem(-30);
      }
    }
  }
  &__slide {
    // width: auto;
    height: auto;
    margin-right: var(--swiperGutter);
    width: 108px;
    @include media-breakpoint-up(md) {
      width: calc(100% / 8 - var(--swiperGutter));
    }
  }
  &__link {
    aspect-ratio: 1;
    display: block;
    color: $gray-900;
    padding: 8px 8px;
    border: 1px solid #f3f3f3;
    border-radius: rem(4);
    // text-align: center;
    background-color: #f3f3f3;
    // min-width: 96px;
    // max-width: 96px;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    // @include media-breakpoint-up(md) {
    //   min-width: 158px;
    //   max-width: 158px;
    // }
    // &::before {
    //   @include mt;
    //   content: '';
    //   position: absolute;
    //   display: block;
    //   width: calc(100% + 2px);
    //   height: calc(100% + 2px);
    //   top: -1px;
    //   left: -1px;
    //   border: 2px solid transparent;
    //   border-radius: 4px;
    // }
    &:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      // &::before {
      //   border-color: $primary;
      // }
    }
    span {
      display: inline-block;
      line-height: 1.2;
      font-size: 11px;
      font-weight: 600;
      // max-width: 96px;
      @include media-breakpoint-up(md) {
        font-size: 12px;
      }
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 100%;
      z-index: -1;
    }
  }
  &__img-wrap {
    @include block(94, 54);
    width: 100%;
    max-width: 80px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(md) {
      max-width: 94px;
      margin-bottom: 8px;
    }
  }
}

.filter {
  @include media-breakpoint-down(md) {
    @include mt;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    height: calc(var(--vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $gray-200;
    padding: rem(32) rem(16) rem(73);
    transform: translateX(-100%);
    // overflow: hidden;
    &.active {
      transform: none;
    }
  }
  @include media-breakpoint-up(md) {
    padding-left: rem(32);
  }
  // &__wrap {
  //   @include media-breakpoint-down(md)  {
  //     // height: calc(var(--vh) * 100);
  //     overflow-x: hidden;
  //     overflow-y: auto;
  //   }
  // }
  .h4 {
    font-size: rem(20);
    margin-bottom: 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &__row {
    @include roww('', '16px');
    margin-bottom: rem(16);
    @include media-breakpoint-up(md) {
      --bs-gutter-y: #{rem(24)};
      margin-bottom: rem(36);
    }
  }
  &__item {
    @include media-breakpoint-down(md) {
      padding: 0 rem(24) rem(16);
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 200vw;
        left: -50vw;
        bottom: 0;
        height: 1px;
        background-color: $gray-400;
      }
      &:last-of-type {
        &:after {
          content: unset;
        }
      }
    }
    .h5 {
      font-size: rem(16);
      margin-bottom: rem(16);
      line-height: 1.26;
      @include media-breakpoint-up(md) {
        font-size: rem(19);
        margin-bottom: rem(8);
      }
    }
    .form-switch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      .form-check-label {
        flex-grow: 1;
        font-size: rem(16);
        font-weight: 600;
        line-height: 1.25;
      }
      .form-check-input {
        flex: 0 0 auto;
        margin-left: 0;
        margin-top: 0;
        // background-size: calc(100% - 14px);
        // &:not(:checked) {
        //   background-position: -2px;
        // }
      }
    }
  }
  &__headline {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: rem(12);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(8);
    }
  }
  &__link,
  &__categories-link {
    display: block;
    max-width: max-content;
    font-size: rem(13);
    line-height: 1.23;
    &:not(:hover) {
      color: $gray-700;
    }
    &:not(:last-of-type) {
      margin-bottom: rem(8);
    }
    &.active {
      color: $link-hover-color;
    }
  }
  &__categories-link {
    position: relative;
    &:before {
      @include mt;
      content: '';
      position: absolute;
      display: block;
      width: rem(24);
      height: rem(24);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0723 6.00049L14.0711 4.92969L7.00007 12.0008L14.0711 19.0718L15.0723 18.0005L9.07227 12.0005L15.0723 6.00049Z' fill='%23352E26'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      // left: calc(rem(-24) - rem(8));
      left: calc(rem(-24) - rem(8));
      top: -3px;
      opacity: 0;
    }
    &.active {
      font-weight: 600;
      color: $body-color;
      font-size: rem(16);
      &::before {
        opacity: 1;
      }
    }
  }
  &__btn {
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fff;
    width: 100%;
  }
  &__btn-accept {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.17);
    border-radius: rem(8) rem(8) 0 0;
    padding: rem(16);
    width: 100%;
    @include media-breakpoint-up(md) {
      display: none;
    }
    a {
      width: 100%;
    }
  }
  &__close {
    position: absolute;
    top: rem(16);
    right: rem(16);
    .icon {
      font-size: rem(24);
    }
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .irs {
    &-from,
    &-to,
    &-single,
    &-min,
    &-max {
      visibility: hidden !important;
      display: none;
      position: absolute !important;
    }
    &-line {
      position: sticky;
      background-color: $gray-400;
      border-radius: 0;
      height: 2px;
    }
    &-handle {
      top: -6.7px;
      border-color: $gray-400;
      background-color: #fff;
      border-width: rem(1);
      width: rem(16);
      height: rem(16);
      box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.17);
    }
    &-bar {
      top: 0;
      background-color: $primary;
      height: 2px;
    }
    &--round {
      height: rem(20);
    }
  }
  .extra-controls {
    // display: flex;
    @extend .row;
    --bs-gutter-x: #{rem(16)};
    font-size: rem(16);
    line-height: 1.5;
    color: #fff;
    label {
      // @include roww(5px, m);
      position: relative;
      display: flex;
      align-items: center;
      // padding-bottom: rem(10);
      width: 100%;
      max-width: 50%;
      &:before {
        content: 'от';
        position: absolute;
        display: block;
        left: rem(18);
        bottom: rem(7);
        font-size: rem(10);
        line-height: 1.6;
        color: $gray-400;
        font-weight: 600;
      }
    }
    input {
      @include mt;
      width: 100%;
      background-color: #fff;
      color: #000;
      // text-align: center;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid $gray-400;
      font-size: rem(12);
      font-weight: 700;
      padding: rem(6) rem(8) rem(6) rem(25);
      &:focus {
        border-color: $body-color;
        outline: none;
      }
    }
  }
  .dd-group {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    // @include roww('', '16px');
    --bs-gutter-y: #{rem(16)};
    @include media-breakpoint-up(md) {
      --bs-gutter-y: #{rem(24)};
    }
    &__item {
      margin-top: var(--bs-gutter-y);
      @include media-breakpoint-down(md) {
        padding: 0 rem(24) rem(16);
        position: relative;
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 200vw;
          left: -50vw;
          bottom: 0;
          height: 1px;
          background-color: $gray-400;
        }
      }
    }
    &__head {
      position: relative;
      font-size: rem(16);
      font-weight: 600;
      line-height: 1.25;
      &:before {
        @include mt;
        content: '';
        position: absolute;
        display: block;
        width: rem(24);
        height: rem(24);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0713 7.92773L19.1421 8.92886L12.071 15.9999L4.99995 8.92886L6.07129 7.92773L12.0713 13.9277L18.0713 7.92773Z' fill='%23352E26'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        // left: calc(rem(-24) - rem(8));
        left: calc(rem(-24) - rem(8));
        top: -3px;
      }
    }
    &__content {
      padding-top: rem(16);
      @include media-breakpoint-up(md) {
        padding-top: rem(24);
      }
      .custom-input {
        &:not(:last-child) {
          margin-bottom: rem(8);
        }
        &__stars {
          display: flex;
          align-items: center;
          span {
            margin-right: rem(8);
          }
        }
        .color {
          display: flex;
          align-items: center;
          &::before {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: rem(12);
            height: rem(12);
            background-color: var(--bgColor);
            margin-right: rem(8);
            border-radius: 50%;
          }
          &--border {
            &:before {
              border: 1px solid $gray-400;
            }
          }
        }
      }
    }
  }
}

.pagination-wrapper {
  ul {
    gap: rem(8);
  }
  li {
    .page-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(3.5);
      width: rem(32);
      height: rem(32);
      // font-size: rem(16);
      font-family: 'Roboto';
      // border-color: $gray-400;
      font-weight: 400;
      .icon {
        font-size: rem(24);
      }
      &.disabled {
        .icon {
          color: $gray-400;
        }
      }
      &.current {
        border-color: $primary;
        background-color: $primary;
        color: #fff;
      }
    }
  }
}

.tags {
  margin-bottom: rem(24);
  @include media-breakpoint-up(md) {
    margin-bottom: rme(19);
  }
  .default-swiper {
    --swiperGutter: #{rem(8)};
    &__slide {
      max-width: max-content;
    }
    &__tag {
      display: block;
      padding: rem(5.5) rem(12);
      background-color: #fff;
      border-radius: rem(36);
      font-size: rem(13);
      line-height: 1.23;
      color: $body-color;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}

.success {
  position: fixed;
  bottom: rem(56);
  right: 0;
  background-color: #fff;
  border: 1px solid $gray-200;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.17);
  padding: rem(12) rem(46) rem(12) rem(12);
  font-size: rem(13);
  line-height: 1.23;
  z-index: 100;
  width: 100%;
  @include media-breakpoint-up(md) {
    max-width: rem(372);
    top: rem(112);
    right: rem(8);
    bottom: unset;
    border-radius: rem(4);
  }
  &__close {
    position: absolute;
    top: rem(12);
    right: rem(12);
    color: $gray-400;
    cursor: pointer;
    @include mt;
    .icon {
      font-size: rem(24);
    }
    &:hover {
      color: $body-color;
    }
  }
}

.all-pages-btn {
  // position: fixed;
  // right: rem(10);
  // bottom: rem(20);
  // display: flex;
  // align-items: center;
  // gap: rem(10);
  // z-index: 400;
  &__btn {
    @include mt;
    cursor: pointer;
    width: rem(48);
    height: rem(48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e9545;
    color: #fff;
    position: fixed;
    right: rem(8);
    bottom: rem(8);
    z-index: 400;
    box-shadow: 0 2px 11px 0 rgba($color: #000000, $alpha: 0.17);
    &:hover {
      background-color: $primary;
      box-shadow: none;
    }
    .iconC {
      &-arrow-up {
        font-size: rem(28);
      }
    }
    .icon {
      font-size: rem(32);
    }
    &--scrool-up-js {
      opacity: 0;
      pointer-events: none;
      right: unset;
      left: rem(8);
      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
