mixin sOrderPayment(data)
	// start sOrderPayment
	+b.SECTION.sOrderPayment.section#sOrderPayment&attributes(attributes)
		+b.section-title(data-aos="fade-up" data-aos-duration="400")
			h1.h5 Оплата заказа
		+ddGroup
			+ddGroupItem('Оплата наличными')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Оплата банковской картой на сайте','active')(data-aos="fade-up" data-aos-duration="400")
				p Оплатить заказанные на сайте товары вы можете на этапе оформления заказа банковской картой.</br> Мы принимаем карты «Мир», Visa, Mastercard. Оплата через Google Pay / Apple Pay недоступна.
				+b.numbered-list.UL
					+e.item.LI 
						+e.title Выберите оплату картой на сайте.
					+e.item.LI 
						+e.title После выбора оплаты картой нажмите кнопку «Перейти к оплате».
					+e.item.LI 
						+e.title Оплатите заказ на странице банка.
						p Выбрав оплату картой, вы&nbsp;будете автоматически перенаправлены на&nbsp;страницу оплаты банка. Заполните все необходимые поля и&nbsp;нажмите кнопку &laquo;Оплатить&raquo;.
						p Далее вы&nbsp;будете перенаправлены на&nbsp;страницу вашего банка для ввода кода из&nbsp;СМС.
						p СМС придёт на&nbsp;мобильный телефон, привязанный к&nbsp;карте.
					+e.item.LI 
						+e.title Номер заказа будет направлен на&nbsp;Ваш email и&nbsp;по&nbsp;SMS.
					+e.item.LI 
						+e.title Вы&nbsp;получите электронный чек, подтверждающий оплату заказа.
						p После оплаты вы&nbsp;получите подтверждающий платёжный документ&nbsp;&mdash; по&nbsp;электронной почте или СМС.
			+ddGroupItem('Система быстрых платежей')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Безналичный расчет – банковским переводом')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Оплата банковской картой через терминал')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Кредит для физических лиц')(data-aos="fade-up" data-aos-duration="400")
				
	// end sOrderPayment

mixin sOrderPayment2(data)
	// start sOrderPayment
	+b.SECTION.sOrderPayment.section#sOrderPayment&attributes(attributes)
		+b.section-title(data-aos="fade-up" data-aos-duration="400")
			h1.h5 Получение заказа
		+ddGroup
			+ddGroupItem('Получение заказа')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Выгрузка и занос на участок','active')(data-aos="fade-up" data-aos-duration="400")
				.sOrderPayment__title Возможны два варианта
				+b.numbered-list.UL
					+e.item.LI 
						+e.title Доставка с выгрузкой и заносом на участок
						p В&nbsp;данном случае Выгрузка осуществляется силами экипажа. Товар размещается (силами экипажа) за&nbsp;входной дверью частного домовладения или на&nbsp;стройплощадке.
						p Этот вариант включает в&nbsp;себя перемещение товаров на&nbsp;расстояние не&nbsp;превышающие 30&nbsp;метров.
						p Оплата переноса строительных материалов, комплекта для монтажа или товаров на&nbsp;место монтажа или складирования оплачивается по&nbsp;дополнительному согласованию.
						p Так&nbsp;же возможно использование спец механизмов для выгрузки товара&nbsp;&mdash; кран манипулятор или кран.
						p Разгрузка краном-манипулятором запрещена под линией электропередач, над бытовыми объектами и&nbsp;заборами. Разгрузка манипулятором осуществляется на&nbsp;расстоянии 2-15 метров от&nbsp;кузова автомобиля в&nbsp;зависимости от&nbsp;технических характеристик манипулятора, т.&nbsp;е.&nbsp;в&nbsp;радиусе действия стрелы и&nbsp;в&nbsp;зоне прямой видимости места разгрузки.
						p Ответственность за&nbsp;расчистку путей подъезда или прохода в&nbsp;зимнее время лежит на&nbsp;Заказчике.
					+e.item.LI 
						+e.title Доставка без выгрузки
						p Доставка &laquo;Без выгрузки&raquo;&nbsp;&mdash; включает в&nbsp;себя доставку товаров по&nbsp;указанному адресу, с&nbsp;размещением&nbsp;ТС максимально приближенным к&nbsp;месту выгрузки, только на&nbsp;дорогах общественного пользования пригодных для движения грузового транспорта. Выгрузка товара из&nbsp;транспортного средства осуществляется силами и&nbsp;за&nbsp;счёт клиента.
						.sOrderPayment__dl-title Время на выгрузку и проверку товара, нормативы
						.sOrderPayment__dl.DL
							.sOrderPayment__dt.DT Заказ от 1 до 1500 кг — 
							.sOrderPayment__dd.DD 30 минут.
							.sOrderPayment__dt.DT Заказ от 1 до 1500 кг — 
							.sOrderPayment__dd.DD30 минут.
							.sOrderPayment__dt.DT Заказ больше 5000 кг — 
							.sOrderPayment__dd.DD 120 минут.
			+ddGroupItem('Монтаж')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Документы')(data-aos="fade-up" data-aos-duration="400")

mixin sOrderPayment3(data)
	// start sOrderPayment
	+b.SECTION.sOrderPayment.section#sOrderPayment&attributes(attributes)
		+b.section-title(data-aos="fade-up" data-aos-duration="400")
			h1.h5 Доставка и установка
		+ddGroup
			+ddGroupItem('Доставка','active')(data-aos="fade-up" data-aos-duration="400")
				p Доставка по&nbsp;указанному адресу до&nbsp;Вашего загородного участка.
				p Доставка включает в&nbsp;себя доставку товаров по&nbsp;указанному адресу, с&nbsp;размещением транспортного средства максимально приближенным к&nbsp;месту выгрузки, только на&nbsp;дорогах общественного пользования пригодных для движения грузового транспорта (без заезда транспортного средства на&nbsp;территорию частного домовладения). Водитель обязан припарковаться так, чтобы обеспечить безопасную выгрузку товара из&nbsp;машины (необходимо обратить внимание на&nbsp;пешеходов, на&nbsp;припаркованные машины).<br>Доставка осуществляется в&nbsp;день согласованный при оформления заказа (дата зависит от&nbsp;наличия товара на&nbsp;складе или зависит от&nbsp;графика производства)
				p Доставка осуществляется одним из&nbsp;следующих способов
				+b.numbered-list.UL
					+e.item.LI 
						+e.title Службой доставки организации до Вашего загородного участка (при необходимости осуществляется разгрузка, занос и монтаж)
					+e.item.LI 
						+e.title Самовывозом со склада организации
				p Стоимость доставки рассчитывается при оформлении заказа на&nbsp;сайте или сотрудником компании &laquo;Русская Деревня&raquo;. Стоимость зависит от&nbsp;зоны доставки, дополнительных услуг, веса и&nbsp;объема товаров в&nbsp;заказе.
				+b.receiptGoods--geo
					+e.item
						+e.head
							.h6 География поставок
							span Москва
						+e.wrap
							+e.subCity Московская область
							ul
								li Андреевка
								li Балашиха
								li Белоозерский
								li Большие
								li Бронницы
								li Быково
								li Видное
								li Видное (Ленинский)
								li Власиха
								li Волоколамск
								li Воскресенск
								li Восход
								li Вяземы
								li Дедовск
								li Дзержинск
								li Дмитров
								li Долгопрудный
								li Домодедово
								li Дубна
								li Егорьевск
								li Жуковский
								li Запрудня
								li Зарайск
								li Звездный городок
								li Ивантеевка
								li Ильинский
								li Истра
								li Калининец
								li Кашира
								li Климовск
								li Клин
								li Коломна
								li Королев
								li Котельники
								li Красково
								li Красноармейск
								li Красногорск
								li Краснознаменск
								li Ликино-Дулево
								li Лобня
								li Лосино-Петровский
								li Лотошино
								li Луховицы
								li Лыткарино
								li Львовский
								li Люберцы
								li Малаховка
								li Михнево
								li Можайск
								li Молодежный
								li Монино
								li Москва
								li Мытищи
								li Наро-Фоминск
								li Нахабино
								li Некрасовский
								li Ногинск
								li Ногинск (Богородский)
								li Одинцово
								li Озеры
								li Октябрьский
								li Орехово-Зуева
								li Павловский Посад
								li Подольск
								li Правдинский
								li Протвино
								li Пушкино
								li Раменское
								li Реутов
								li Руза
								li Селятино
								li Сергиев Посад
								li Серебряные Пруды
								li Серпухов
								li Солнечногорск
								li Софрино
								li Ступино
								li Талдом
								li Томилино
								li Тучково
								li Удельная
								li Фрязино
								li Фряново
								li Химки
								li Черноголовка
								li Чехов
								li Шатура
								li Шаховская
								li Щелково
								li Электросталь
							.receiptGoods__show-more.show-more-btn--js
								.show-more Показать еще
								.hide Скрыть
								+icon('chevron-down')
					+e.list-wrap
						.h6 Доставка в соседние области обговаривается отдельно
						p Время работы службы доставки: ПН - ВС: с 09:00 до 21:00
				.sOrderPayment__ul-wrap
					.sOrderPayment__ul-title При заказе доставки до адреса просим Вас предоставить следующую информацию
					ul
						li Точный адрес - с указанием особенностей подъезда к дому (с какой улицы, пропуск, место для разгрузки, другие приметы).
						li Номер телефона (на адресе, контактный).
						li Лицо, ответственное за прием заказа, его координаты.
						li Въезда на территорию (в случае режимных объектов, требующих оформления специальных пропусков, пропуск должен быть оформлен клиентом заранее).
				.sOrderPayment__ul-wrap
					.sOrderPayment__ul-title Получение заказа
					ul
						li Перед приездом на адрес мы заранее предупредим вас.
						li Сотрудник службы доставки свяжется с вами, когда будет на месте.
						li При получении товаров рекомендуется их&nbsp;распаковать и&nbsp;сверить с&nbsp;заказом, а&nbsp;также убедиться, что товары и&nbsp;упаковка не&nbsp;повреждены. На&nbsp;проверку товаров у&nbsp;вас есть 30&nbsp;минут. Сотрудник службы доставки вскроет упаковку при вас.
						li После получения и&nbsp;проверки заказа внимательно ознакомьтесь с&nbsp;документами и&nbsp;подпишите&nbsp;их. После подписания акта приёма-передачи претензии по&nbsp;количеству и&nbsp;качеству полученного товара не&nbsp;принимаются.
			+ddGroupItem('Стоимость доставки','active')(data-aos="fade-up" data-aos-duration="400")
				+b.delivery-table
					table.table-hover
						thead
							tr
								th Категории товара
								th Малые
								th Средние
								th Большие
						tbody
							tr
								td(data-title="Категории товара") Дачные постройки и конструкции
								td(data-title="Малые") 5 000
								td(data-title="Средние") 10 000
								td(data-title="Большие") 15 000
							tr
								td(data-title="Категории товара") Садовая мебель и мебель для бани
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Качели и подвесные кресла
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Приготовление пищи на открытом огне
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Купели, фитобочки, сборные сауны, банный чан
								td(data-title="Малые") 5 000
								td(data-title="Средние") 10 000
								td(data-title="Большие") 15 000
							tr
								td(data-title="Категории товара") Все для бани и сауны
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Печи и камины
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Детские домики, детские комплексы и игрушки
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Бассейны
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Батуты
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Спорт, игры, развлечения
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Садовый декор, текстиль и ландшафтный дизайн
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Светильники, фонари и световые фигуры
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Полив, уход, емкости для воды
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Садовая техника
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Садовый Инвентарь
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
							tr
								td(data-title="Категории товара") Постройки и товары для животных и птиц
								td(data-title="Малые") 2 500
								td(data-title="Средние") 5 000
								td(data-title="Большие") 7 500
							tr
								td(data-title="Категории товара") Товары для фермеров, сельские товары
								td(data-title="Малые") 500
								td(data-title="Средние") 2 500
								td(data-title="Большие") 5 000
			+ddGroupItem('Самовывоз')(data-aos="fade-up" data-aos-duration="400")
				p Самовывоз со склада организации.
				p Склад расположен по адресу: г. Москва, Рябиновая ул, 37, стр. 1
				.sOrderPayment__map-wrap
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9ec7258d7fa9133a85add0b0554b0a8d64302fc5441eef7f39e010ac4f8578db&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
				p Телефон для справок (ежедневно с 09.00 до 21.00) — <a href="tel:+74950217474">+7 (495) 021-74-74</a>
				p График работы самовывоза: ежедневно с 09:00 до 21:00, включая праздничные и выходные дни.
				p Самовывоз, его дату и&nbsp;время необходимо предварительно согласовать с&nbsp;менеджером компании &laquo;Русская Деревня&raquo; при подтверждении заказа.
				.sOrderPayment__ul-wrap
					.sOrderPayment__ul-title Правила выдачи заказов
					ul
						li Получите подтверждение наличия вашего заказа на складе у менеджера компании.
						li До&nbsp;момента выдачи заказ должен быть 100% оплачен (оплатить можно по&nbsp;ссылке при оформлении заказа на&nbsp;сайте).
						li Обязательно назначьте дату самовывоза у менеджера компании.
						li Для въезда на&nbsp;территорию склада необходимо в&nbsp;заявке на&nbsp;самовывоз (продиктовать данные менеджеру) необходимо указать дату и&nbsp;время самовывоза, гос.номер, марку и&nbsp;модель автомобиля и&nbsp;ФИО лица, кто будет забирать заказ.
						li Подготовьте все необходимые документы.
						li Печать пропуска для въезда на&nbsp;территорию склада не&nbsp;требуется. При въезде необходимо предъявить на&nbsp;КПП СТС на&nbsp;автомобиль.
						li На территории действует ограничение скорости движения до 30 км/ч.
				.sOrderPayment__ul-wrap
					.sOrderPayment__ul-title Для получения товара физическому лицу при себе необходимо иметь
					ul
						li Кассовый чек распечатанный или онлайн.
						li Номер Заказа.
						li Если заказ получает доверенное лицо: доверенность в&nbsp;свободной форме и&nbsp;документ, удостоверяющий личность.
				.sOrderPayment__ul-wrap
					.sOrderPayment__ul-title Для получения товара юридическому лицу при себе необходимо иметь
					ul
						li Платежное поручение с отметкой об оплате.
						li Номер Заказа.
						li Печать компании или доверенность на&nbsp;подписание накладных и&nbsp;документ, удостоверяющий личность, в&nbsp;случае отсутствия печати.
				p Обращаем ваше внимание, что ожидание на&nbsp;складе выдачи вашего заказа не&nbsp;регламентируется. Мы&nbsp;осуществляем сборку вашего заказа только после вашего прибытия на&nbsp;склад.
				p Самовывоз возможен только при 100% предоплате заказа. Для получения товара необходимо оформить пропуск на&nbsp;склад и&nbsp;выбрать дату самовывоза через Личный кабинет.
			+ddGroupItem('Выгрузка и занос на участок')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Монтаж')(data-aos="fade-up" data-aos-duration="400")
			+ddGroupItem('Документы')(data-aos="fade-up" data-aos-duration="400")
				
	// end sOrderPayment