mixin sOrderPayment(data)
	// start sOrderPayment
	+b.SECTION.sOrderPayment.section#sOrderPayment&attributes(attributes)
		+b.section-title
			h1.h5 Оплата заказа
		+ddGroup
			+ddGroupItem('Оплата наличными',)
			+ddGroupItem('Оплата банковской картой на сайте','active')
				p Оплатить заказанные на сайте товары вы можете на этапе оформления заказа банковской картой.</br> Мы принимаем карты «Мир», Visa, Mastercard. Оплата через Google Pay / Apple Pay недоступна.
				+b.numbered-list.UL
					+e.item.LI 
						+e.title Выберите оплату картой на сайте.
					+e.item.LI 
						+e.title После выбора оплаты картой нажмите кнопку «Перейти к оплате».
					+e.item.LI 
						+e.title Оплатите заказ на странице банка.
						p Выбрав оплату картой, вы&nbsp;будете автоматически перенаправлены на&nbsp;страницу оплаты банка. Заполните все необходимые поля и&nbsp;нажмите кнопку &laquo;Оплатить&raquo;.
						p Далее вы&nbsp;будете перенаправлены на&nbsp;страницу вашего банка для ввода кода из&nbsp;СМС.
						p СМС придёт на&nbsp;мобильный телефон, привязанный к&nbsp;карте.
					+e.item.LI 
						+e.title Номер заказа будет направлен на&nbsp;Ваш email и&nbsp;по&nbsp;SMS.
					+e.item.LI 
						+e.title Вы&nbsp;получите электронный чек, подтверждающий оплату заказа.
						p После оплаты вы&nbsp;получите подтверждающий платёжный документ&nbsp;&mdash; по&nbsp;электронной почте или СМС.
			+ddGroupItem('Система быстрых платежей')
			+ddGroupItem('Безналичный расчет – банковским переводом')
			+ddGroupItem('Оплата банковской картой через терминал')
			+ddGroupItem('Кредит для физических лиц')
				
	// end sOrderPayment

mixin sOrderPayment2(data)
	// start sOrderPayment
	+b.SECTION.sOrderPayment.section#sOrderPayment&attributes(attributes)
		+b.section-title
			h1.h5 Получение заказа
		+ddGroup
			+ddGroupItem('Получение заказа',)
			+ddGroupItem('Выгрузка и занос на участок','active')
				.sOrderPayment__title Возможны два варианта
				+b.numbered-list.UL
					+e.item.LI 
						+e.title Доставка с выгрузкой и заносом на участок
						p В&nbsp;данном случае Выгрузка осуществляется силами экипажа. Товар размещается (силами экипажа) за&nbsp;входной дверью частного домовладения или на&nbsp;стройплощадке.
						p Этот вариант включает в&nbsp;себя перемещение товаров на&nbsp;расстояние не&nbsp;превышающие 30&nbsp;метров.
						p Оплата переноса строительных материалов, комплекта для монтажа или товаров на&nbsp;место монтажа или складирования оплачивается по&nbsp;дополнительному согласованию.
						p Так&nbsp;же возможно использование спец механизмов для выгрузки товара&nbsp;&mdash; кран манипулятор или кран.
						p Разгрузка краном-манипулятором запрещена под линией электропередач, над бытовыми объектами и&nbsp;заборами. Разгрузка манипулятором осуществляется на&nbsp;расстоянии 2-15 метров от&nbsp;кузова автомобиля в&nbsp;зависимости от&nbsp;технических характеристик манипулятора, т.&nbsp;е.&nbsp;в&nbsp;радиусе действия стрелы и&nbsp;в&nbsp;зоне прямой видимости места разгрузки.
						p Ответственность за&nbsp;расчистку путей подъезда или прохода в&nbsp;зимнее время лежит на&nbsp;Заказчике.
					+e.item.LI 
						+e.title Доставка без выгрузки
						p Доставка &laquo;Без выгрузки&raquo;&nbsp;&mdash; включает в&nbsp;себя доставку товаров по&nbsp;указанному адресу, с&nbsp;размещением&nbsp;ТС максимально приближенным к&nbsp;месту выгрузки, только на&nbsp;дорогах общественного пользования пригодных для движения грузового транспорта. Выгрузка товара из&nbsp;транспортного средства осуществляется силами и&nbsp;за&nbsp;счёт клиента.
						.sOrderPayment__dl-title Время на выгрузку и проверку товара, нормативы
						.sOrderPayment__dl.DL
							.sOrderPayment__dt.DT Заказ от 1 до 1500 кг — 
							.sOrderPayment__dd.DD 30 минут.
							.sOrderPayment__dt.DT Заказ от 1 до 1500 кг — 
							.sOrderPayment__dd.DD30 минут.
							.sOrderPayment__dt.DT Заказ больше 5000 кг — 
							.sOrderPayment__dd.DD 120 минут.
			+ddGroupItem('Монтаж')
			+ddGroupItem('Документы')
				
	// end sOrderPayment