mixin sProdCardInfo(data)
	// start sProdCardInfo
	+b.SECTION.sProdCardInfo.section#sProdCardInfo&attributes(attributes)
		.container
			+e.wrap
				.tabs.swiper.freemode-slider--js
					.tabs__caption.swiper-wrapper
						.tabs__btn.swiper-slide Описание и характеристики
						.tabs__btn.swiper-slide.active 
							| Отзывы
							span 5
						.tabs__btn.swiper-slide Вопрос-ответ
						.tabs__btn.swiper-slide Доставка
						.tabs__btn.swiper-slide Получение товара
					.tabs__content
						+e.content
							.h5 Описание
							p Практичное, стильное, удобное кресло Престиж — идеальный выбор для сада, загородного дома, коттеджа, дачи. Оно выполнено из качественного полипропилена высокой прочности, способного выдерживать высокие нагрузки. Материал не требует особого ухода, чистится обычными моющими средствами, удобно в хранении и транспортировке. Кресло не боится повышенной влажности, резких перепадов температур, его можно ставить около бассейна, в бане, сауне, на улице. Дополнительное удобство обеспечивают удобные подлокотники.
						+e.content
							.h5 Характеристики
							+e.table-row.row
								mixin tr(key, value)
									+e.tr-row.row
										.col-md!= key
										.col-md-auto.ms-md-auto.text-md-end!= value
								.col-md
									+tr('Производитель', 'Италия')
									+tr('Гарантия', '18 мес.')
									+tr('Срок службы', '2 года')
									+tr('Материал', 'Полипропилен')
									+tr('Цвет', 'Коричневый')
									+tr('Размер (Ш×В×Г)', '33×79×92')
								.col-md
									+tr('Высота сиденья от пола', '40 см')
									+tr('Maксимальная нагрузка на 1 посадочное место', '117 кг')
									+tr('Мягкие элементы в комплекте', 'Нет')
									+tr('Регулируемый наклон спинки', 'Нет')
									+tr('Температурный режим', 'От -20 до +45 градусов')
									+tr('Материал каркаса', 'Дерево')
						+e.content
							.h5 Преимущества
							+e.advantage-row.row
								mixin advantageCol(text)
									+e.advantage-col.col-6.col-md-12
										+e.item!= text
								+advantageCol('Усиленные закаленные фрезы')
								+advantageCol('Колеса с глубоким протектором')
								+advantageCol('Шестеренчатый редуктор')
								+advantageCol('Укрепленная рама')
								+advantageCol('Шестеренчатый редуктор')
								+advantageCol('Усиленные закаленные фрезы')
								+advantageCol('Колеса с глубоким протектором')
								+advantageCol('Усиленные закаленные фрезы')
								+advantageCol('Колеса с глубоким протектором')
					.tabs__content.active
						+b.review-block
							+e.head
								+e.head-row.row
									.col-md-6
										+e.wrap
											.row.align-items-center
												.col
													p
														span 4.5
														| Средний рейтинг
												.col-auto
													+stars
											+e.btn.btn.btn-primary(href='#' data-bs-custom-class="tooltip-custom" data-bs-toggle="tooltip" data-bs-original-title=`Если вы приобретали этот товар, то авторизуйтесь, чтобы оставить отзыв. `) Оставить отзыв
									.col-md-6
										mixin rateItem(stars, count)
											+e.rate-item
												+e.stars-wrap 
													- for(let i = 0; i < stars; i++)
														+icon('rateStar')
												+e.line(style=`--count: ${count};`)
												+e.count!= count
												//-  +icon('')
										+rateItem(5, 70)
										+rateItem(4, 15)
										+rateItem(3, 15)
										+rateItem(2, 0)
										+rateItem(1, 0)
							+e.body 
								mixin reviewItem(stars=4, name, date, text, like)
									+e.review-item
										.row
											.col-md-auto
												+e.info-wrap
													+stars(stars)
													+e.name!= name
													+e.create-date!= date
											.col
												p!= text
											+e.like-col.col-auto
												if like > 0
													+e.like.active +#[!= like]
												else
													+e.like!= like
								+reviewItem(4, 'Егор', '8 декабря 2019 в 17:04', 'Здравствуйте! Хочу сказать большое спасибо компании &laquo;Русская Беседка&raquo;!! Очень довольна вашей работой. Начиная от&nbsp;общения с&nbsp;менеджером Дилей и&nbsp;заканчивая монтажниками. Все как положено, договор, смета, сроки. Учли все наши просьбы и&nbsp;изменили немного конструкцию. Беседка получилась очень красивая! Ребята монтажники из&nbsp;Смоленска Дмитрий Базененков и&nbsp;Виталий Александров настоящие профессионалы своего дела!! Очень качественно и&nbsp;быстро, работали почти без перерывов, учитывали каждую мелочь и&nbsp;все пожелания. Это очень приятно!! Всем рекомендую!!!', 2)
								+reviewItem(4, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор.', 0)
								+reviewItem(5, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор. И&nbsp;вот 20&nbsp;мая беседка построена, ребята такие молодцы, работали с&nbsp;7&nbsp;утра и&nbsp;до&nbsp;9&nbsp;вечера, очень аккуратно, все прибрали, чистота и&nbsp;порядок. И&nbsp;теперь у&nbsp;нас замечательная беседка. Расчет за&nbsp;которую, что очень важно, производится по&nbsp;факту ее&nbsp;установки и&nbsp;осмотра. Спасибо огромное. Рекомендую всем, кто мечтает о&nbsp;беседке, заказать ее&nbsp;в&nbsp;&laquo;Русской беседке&raquo;, не&nbsp;пожалеете. Ну&nbsp;а&nbsp;у&nbsp;нас новая задача&nbsp;&mdash; обустроить территорию вокруг и&nbsp;разместить мебель.', 0)
								+reviewItem(4, 'Егор', '8 декабря 2019 в 17:04', 'Здравствуйте! Хочу сказать большое спасибо компании &laquo;Русская Беседка&raquo;!! Очень довольна вашей работой. Начиная от&nbsp;общения с&nbsp;менеджером Дилей и&nbsp;заканчивая монтажниками. Все как положено, договор, смета, сроки. Учли все наши просьбы и&nbsp;изменили немного конструкцию. Беседка получилась очень красивая! Ребята монтажники из&nbsp;Смоленска Дмитрий Базененков и&nbsp;Виталий Александров настоящие профессионалы своего дела!! Очень качественно и&nbsp;быстро, работали почти без перерывов, учитывали каждую мелочь и&nbsp;все пожелания. Это очень приятно!! Всем рекомендую!!!', 2)
								+reviewItem(4, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор.', 0)
								+reviewItem(5, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор. И&nbsp;вот 20&nbsp;мая беседка построена, ребята такие молодцы, работали с&nbsp;7&nbsp;утра и&nbsp;до&nbsp;9&nbsp;вечера, очень аккуратно, все прибрали, чистота и&nbsp;порядок. И&nbsp;теперь у&nbsp;нас замечательная беседка. Расчет за&nbsp;которую, что очень важно, производится по&nbsp;факту ее&nbsp;установки и&nbsp;осмотра. Спасибо огромное. Рекомендую всем, кто мечтает о&nbsp;беседке, заказать ее&nbsp;в&nbsp;&laquo;Русской беседке&raquo;, не&nbsp;пожалеете. Ну&nbsp;а&nbsp;у&nbsp;нас новая задача&nbsp;&mdash; обустроить территорию вокруг и&nbsp;разместить мебель.', 0)
							+e.show-more-btn.btn.btn-light(href='#') 
								.show-more Показать еще
								.hide Скрыть
								+icon('chevron-down')
					.tabs__content 3
					.tabs__content 4
					.tabs__content 5
	// end sProdCardInfo