mixin item-sos(icon, a='#', color)
	+e.A.item(href= a target="_blank", style=`--color: ${color}`)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			each soc in social
				+item-sos(soc.name, '#', soc.color)

//- /social buttons 